<!doctype html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  {{> head }}

    {{#if page.fixed-top }}
      <style>
        @media (min-width: 980px) {
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
        }
        .sidebar-nav {
          padding: 9px 0;
        }
        body {
          background: #fff;
        }
      </style>
     {{/if}}
  </head>
  <body>
    {{> body }}
        {{> scripts }}
  </body>
</html>
