---
base_url: "../../"
url: /examples/3columns/
title: 3 columns responsive layout
---

<div class="wrap show-menu container-fluid" id="wrap">
  <aside class="panel-menu" id="menu" role="navigation">
    <div class="topbar">
      Column 1
    </div>
    <div class="panel-content">
      <div class="panel--list">
      <ul class="nav nav-pills nav-stacked">
          <li data-toggle="menu"><a href="#">Item 1 <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item 2 <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item 3 <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item 4 <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item 5 <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>  
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>  
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>  
          <li data-toggle="menu"><a href="#">Item <span class="icon-chevron-right pull-right"></span></a></li>
        </ul>
      </div>
    </div>
  </aside>
  <div class="panel-main" id="main">
    <div class="panel-main--left">
      <div class="topbar">
        <a href="#" class="icon-chevron-left btn btn-primary menu-toggle pull-left" data-layout="menu" data-toggle="menu"></a> 
        Column 2 
      </div>
      <div class="panel-content">
        <div id="content--list" class="is-hidden">
          <form >
           <fieldset>
             <div class="control-group col-xs-12">
              <div class="controls">
                <div class="input-append">
                  <input class=""  type="text" placeholder="Search">
                  <button class="btn btn-primary " type="button"><i class="icon-zoom"></i></button>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset >
         
       
         <div class="row">

            <div class="control-group   col-xs-12 col-sm-6 ">
              <div class="controls">
                <div class="input-prepend date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                  <span class="add-on"><i class="icon-calendar"></i></span>
                  <input type="text" class="input-medium" name="start" placeholder="Starting date">
                </div>      
              </div>
            </div>
       
            <div class="control-group  col-xs-12 col-sm-6">
               <div class="select-inline ">  <select class="input-small">
                  <option selected="selected">All sites</option>
                  <option>http://pmi.com/intranet</option>
                  <option>http://workpoint.pmi.com</option>
                  <option>http://pmi.com/intranet</option>
                  <option>http://workpoint/</option>
                  <option>http://pmi.com/intranet</option>
                </select>
              </div>
            </div>

              </div>
          </fieldset>
        </form>
        <div class="panel--list">
          <ul class="nav nav-tabs nav-stacked">
            <li data-toggle="details"><a href="#">details 1 <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details 2 <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details 3 <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details 4 <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details 5 <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>  
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>  
            <li data-toggle="details"><a href="#">details <span class="icon-chevron-right pull-right"></span></a></li>
          </ul>
        </div>
      </div> 
    </div> 
  </div> 
  <div id="details" class="panel-main--right">
    <div class="topbar"> 
     <a href="#" class="icon-chevron-left btn btn-primary details-toggle pull-left" data-layout="menu" data-toggle="details"></a> 
     Column 3 - details
   </div> 
   <div id="content--details" class="is-hidden">
    <!-- ################################################### -->
    <!--- STANDARD DIVE CONTENT elements and components -->
    <div class="panel-content">
     <div class="container">
      <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Warning!</h4>
        Best check yo self, you're not...
      </div>
      <div class="alert alert-success alert-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><i class="icon-info-sign"></i> Information</h4>
        <p>This claim has been reviewed and checked by Internal Controls Depatment</p>
      </div>
      <h2>General Information</h2>
      <div class="row">
        <table class="table table-condensed  ">
          <tbody>
            <tr>
              <td>Start date:</td>
              <td>21 June 2013</td>
            </tr>
            <tr>
              <td>End date:</td>
              <td>22 June 2013</td>
            </tr>
            <tr>
              <td>Destination:</td>
              <td>New York, United States of America</td>
            </tr>
            <tr>
              <td>Car mileage:</td>
              <td>250 Km</td>
            </tr>
            <tr>
              <td>Cost Assignment:</td>
              <td>1066701010,SASC</td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-error"> 
         <h4><i class="icon-info-sign"></i> Error</h4>
         lorem ipsum 
       </div>
       <div class="well">
        
        <table class="table table-condensed    ">
          <tbody>
            <tr>
              <td><strong>Total Expenses:</strong></td>
              <td><strong>250,00 CHF</strong></td>
            </tr>
            <tr>
              <td>Business Expense:</td>
              <td>200,00 CHF</td>
            </tr>
            <tr>
              <td>Less: Private (Nonbusiness):</td>
              <td>200,00 CHF</td>
            </tr>
            <tr class="tr-dotted-bottom">
              <td>Less Expenses paid by PMI:</td>
              <td>0,00 CHF</td>
            </tr>
            <tr>
              <td>Amount Reimbursed:</td>
              <td><strong>230,00 CHF</strong></td>
            </tr>
          </tbody>
        </table>
          </div> 
      
    </div> 
    <h4>Open and review the following <span class="badge">2</span> warning statements</h4>
 <div class="alert alert-warning clearfix"  style="margin:0; padding:8px;">  
  <div class="row" >
    <div class="col-xs-12 col-sm-10 ">
      <i class="icon-alert-sign"></i>
       <a href="#" >1 warning from the audit tool</a>
      </div>
        <div class="col-xs-12 col-sm-2  ">
       <a href="#" class="btn btn-small btn-warning "  >Review</a>
      </div>
      </div>
          </div>
          <br>
<div class="alert alert-warning clearfix" style="margin:0; padding:8px;">  
   <div class="row" >
      <div class="col-xs-12 col-sm-10 ">
       <i class="icon-alert-sign"></i>
      Reciept 1 (PDF, 579 Kb) <i class="icon-open"></i> <i class="icon-document"></i> 
     
      </div>
       <div class="col-xs-12 col-sm-2  ">
       <a href="#" target="_blank" class="btn btn-small btn-warning "  >Open</a>
      </div> 
      </div>
    
  </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-zoom"></i> Search</button>
    <button type="reset" class="btn btn-secondary">Cancel</button>
  </div>
</div>  
</div> <!-- close of "details content" area on the right --> 
</div> <!-- close of "panel right --> 
</div> 
</div> 
