---
base_url: "../../"
url: /examples/advanced-search/
title: "Advanced Search"
---

<div class="container">

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 form-example">
      <form>
        <legend>Advanced Search</legend>
        <fieldset class='row'>

          <div class="control-group col-xs-6">

            <div class="controls">
              <div class="input-append">


 <input id="firstName" type="text" class="col-xs-12" placeholder="Type your search here..."> <span class="add-on"> on </span>
</div>

            </div>
          </div>

          <div class="control-group col-xs-6">

            <div class="controls">
              <select required>
              <option  selected="selected">All sites</option>
              <option>http://www.pmi.com/intranet/documents</option>
               <option>http://workpoint.pmiapps.com/references/wiki3/</option>
                <option>http://www.pmi.com/intranet/documents</option>
                 <option>http://workpoint.pmiapps.com/references/wiki3/</option>
                  <option>http://www.pmi.com/intranet/documents</option>

            </select>
            </div>
          </div>
        </fieldset>

        <fieldset>



          <div class="row">
            <div class="control-group col-xs-7">
              <strong>Filters</strong>
            </div>
              <div class="control-group col-xs-5 text-right">


               <button class="btn btn-small btn-secondary" type="button"><i class="icon-plus-sign"></i></button>
            </div>
          </div>

















          <table class="table table-striped">
           <tr  >

             <td>
               <div class="controls">
                 <select required >
                   <option selected="selected">Nickname</option>
                   <option>Site #1</option>
                   <option>Site #2</option>
                   <option>Site #3</option>
                   <option>Site #4</option>
                   <option>Site #5</option>
                 </select>
               </div>
             </td>
             <td>
               <div class="controls">
                 <select required class="input-mini">
                   <option  selected="selected">is</option>
                   <option>is not</option>
                 </select>
               </div>
             </td>
             <td>
               <div class="controls">
                <select required class="input-small">
                 <option  selected="selected">True</option>
                 <option>False</option>
               </select>
             </div>
           </td>
           <td> <a href="#"  class="pull-right"><i class="icon-minus-sign"></i></a></td>
         </tr>
         <tr  >

           <td>
             <div class="controls">
               <select required class="">
                 <option  selected="selected">Nickname</option>
                 <option>Site #1</option>
                 <option>Site #2</option>
                 <option>Site #3</option>
                 <option>Site #4</option>
                 <option>Site #5</option>
               </select>
             </div>
           </td>
           <td>
             <div class="controls">
               <select required class="input-small">
                 <option  >is</option>
                 <option selected="selected">is not</option>
               </select>
             </div>
           </td>
           <td>
             <div class="controls">
              <input id=" " type="text" class="col-xs-12" placeholder="">
            </div>
          </td>
          <td> <a href="#"  class="pull-right"><i class="icon-minus-sign"></i></a></td>
        </tr>
        <tr  >

         <td>
           <div class="controls">
             Time in the system:
           </div>
         </td>

         <td colspan="2">
           <div class="controls">
            <div class="input-daterange date">
              <div class="input-prepend date pull-left" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                <span class="add-on"><i class="icon-calendar"></i></span>
                <input type="text" class="input-medium" name="start" placeholder="Starting date!" >
              </div>
              <span class="add-on">to</span>
              <input type="text" class="input-small" name="end"  placeholder="End date!" data-provide="datepicker" data-date-format="dd/mm/yyyy" >
              <span class="add-on">end</span>
            </div>
          </div>
        </td>
        <td> <a href="#" class="pull-right"><i class="icon-minus-sign"></i></a></td>
      </tr>
    </table>

 </fieldset>










<dl class="dl-vertical">
  <dt class="text-left">Find results using </dt>
  <dd>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >
  All the words
</label>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
  Any of the words
</label>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
  The exact phrase
</label></dd>
</dl>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary"><i class="icon-zoom"></i> Search</button>
          <button type="reset" class="btn btn-secondary">Cancel</button>
        </div>

      </form>


    </div>

  </div>


</div> <!-- /container -->

