---
base_url: "../../"
url: /examples/build-whit-myevent/
title: Example Build with DiVE
---
<div class="no-navigation">
<div class="hero-unit dive-docs-hero-unit green ">
  <div class="container">
    <h1>Built with DiVE Library</h1>
    <p>Examples of projects that used the DiVE Library</p>
  </div>
</div>

<div class="container main-container">
  <div class="row">
    <!-- Main Content -->
    <div class="dive-docs-main">

    	<h2>MyEvents</h2>
    	<p>MyEvent is a specific WorkPoint front-end development with the aim to allow user to manage their attendance to event and find quickly all the related information (venue, agenda, speakers, etc.) </p>

	      <div id="myCarousel" class="carousel slide">
	        <ol class="carousel-indicators">
	          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	          <li data-target="#myCarousel" data-slide-to="1"></li>
	          <li data-target="#myCarousel" data-slide-to="2"></li>
	        </ol>
	        <div class="carousel-inner">
	          <div class="item active">
	            <img src="{{ page.base_url }}img/dive-docs-img/examples/carousel/myevents-Thumb_1.png" alt="">
	            <div class="carousel-caption">
	             
	              <p>My Event allows users to quickly view and manage their attendance at event, they can view event and add them to their favourites as well.</p>
	            </div>
	          </div>
	          <div class="item">
	            <img src="{{ page.base_url }}img/dive-docs-img/examples/carousel/myevents-Thumb_2.png" alt="">
	            <div class="carousel-caption">
	         
	              <p>Event detailed view allow users to quickly find out all relevant information about a specific event (agenda, participants, speaker, documents, etc.).</p>
	            </div>
	          </div>
	          <div class="item">
	            <img src="{{ page.base_url }}img/dive-docs-img/examples/carousel/myevents-Thumb_3.png" alt="">
 <div class="carousel-caption">
	          
	              <p>Example of responsive behaviour when using a device with a small screen (e.g. iPad) My event was build following DiVE best practices for responsive design which mean that my event screen will adapt to the device screen to provide the best way to display the various information. </p>
	            </div>
	          </div>
	        </div>
	        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
	        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
	      </div>

    </div>

	<hr>

	<div class="col-xs-6 col-md-4 col-lg-4">
		<div class="col-xs-12">
			<h4>Business Owner</h4>
			<p><a href="mailto:david.schmalz@pmi.com">David Schmalz</a></p>
		</div>
		<div class="col-xs-12">
			<h4>Project Start Date</h4>
			<p>01/09/2013</p>
		</div>
		<div class="col-xs-12">
			<h4>Released on</h4>
			<p>15/12/2013</p>
		</div>
		 
	</div>

	<div class="col-xs-6 col-md-4 col-lg-4">
		<div class="col-xs-12">
			<h4>DiVE Assets used</h4>
				<p> 

DiVE <a href="http://dive.app.pmi/layouts/#grid">responsive grid</a><br>
DiVE <a href="http://dive.app.pmi/forms/">form components</a><br>
DiVE <a href="http://dive.app.pmi/buttons/">buttons</a><br>
DiVE <a href="http://dive.app.pmi/content/#grid">content grid</a><br>
DiVE <a href="http://dive.app.pmi/feedback/#modals">feedbacks</a>

			</p>
		</div>

		<div class="col-xs-12">
			<h4>Responsiveness </h4>
			<p> <a href="http://dive.app.pmi/layouts/#grid">Yes</a></p>
		</div>

		<div class="col-xs-12">
			<h4>Project Space</h4>
			<p><a href="http://workpoint.pmiapps.biz/communities/ISCS1/EASS/Project Documentation/Forms/AllItems.aspx">Workpoint link</a></p>
		</div>

		<div class="col-xs-12">
			<h4>Application Architecture</h4>
			<p>Sharepoint 2010 / HTML 5 / IOS</p>
		</div>

	</div>


	<div class="col-xs-6 col-md-4 col-lg-4">
		<div class="col-xs-12">
			<h4>Business Function</h4>
			<p>IS TAS</p>
		</div>

		<div class="col-xs-12">
			<h4>Project Audience</h4>
			<p>All Employee</p>
		</div>

		 
	</div>


  </div>

</div>

</div>