---
base_url: "../../"
url: /examples/build-whit-dali/
title: Example Build with DiVE
---
<div class="no-navigation">
<div class="hero-unit dive-docs-hero-unit green ">
  <div class="container">
    <h1>Built with DiVE Library</h1>
    <p>Examples of projects that used the DiVE Library</p>
  </div>
</div>

<div class="container main-container">
  <div class="row">
    <!-- Main Content -->
    <div class="dive-docs-main">

    	<h2>Dali</h2>
    	<p>DALI is the PMI <strong>D</strong>igital <strong>A</strong>sset <strong>Li</strong>brary. It's the single entry point for PMI employees to consume images and videos in a comprehensible way. The assets are clearly categorized through Channels. Users can also contribute by uploading images & videos, triggering validation workflows</p>

	      <div id="myCarousel" class="carousel slide">
	        <ol class="carousel-indicators">
	          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	          <li data-target="#myCarousel" data-slide-to="1"></li>
	          <li data-target="#myCarousel" data-slide-to="2"></li>
	        </ol>
	        <div class="carousel-inner">
	          <div class="item active">
	            <img src="{{ page.base_url }}img/dive-docs-img/examples/carousel/dali-Thumb_1.png" alt="">
	            <div class="carousel-caption">
 
	              <p>Assets are displayed in a grid layout, enabling a seamless browsing experience. User can reveal more information by hovering the thumbnails. </p>
	            </div>
	          </div>
	          <div class="item">
	            <img src="{{ page.base_url }}img/dive-docs-img/examples/carousel/dali-Thumb_2.png" alt="">
	            <div class="carousel-caption">
	              
	              <p>Images can also be displayed in a list layout if needed, allowing users to easily compare metadata. </p>
	            </div>
	          </div>
	          <div class="item">
	            <img src="{{ page.base_url }}img/dive-docs-img/examples/carousel/dali-Thumb_3.png" alt="">
 <div class="carousel-caption">
	                  
	              <p>DALI empower end-user by allowing them to easily contribute to DALI using a contribute functionality with approval process when\if needed.</p>
	            </div>
	          </div>
	        </div>
	        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
	        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
	      </div>

    </div>

	<hr>

	<div class="col-xs-6 col-md-4 col-lg-4">
		<div class="col-xs-12">
			<h4>Project Manager</h4>
			<p>Lowinska, Paulina</p>
		</div>
		<div class="col-xs-12">
			<h4>Project Start Date</h4>
			<p>30/07/2013</p>
		</div>
		<div class="col-xs-12">
			<h4>Released on</h4>
			<p>01/04/20143</p>
		</div>
		 
	</div>

	<div class="col-xs-6 col-md-4 col-lg-4">
		<div class="col-xs-12">
			<h4>DiVE Assets used</h4>
				<p> 

 
DiVE <a href="http://dive.app.pmi/forms/">form components</a><br>
DiVE <a href="http://dive.app.pmi/buttons/">buttons</a><br>
DiVE <a href="http://dive.app.pmi/feedback/#modals">feedbacks</a>. For modal windows and information panels.

			</p>
		</div>

		<div class="col-xs-12">
			<h4>Responsiveness </h4>
			<p>NO</p>
		</div>

		<div class="col-xs-12">
			<h4>Project Space</h4>
			<p><a href="http://workpoint.pmiapps.biz/projects/ISPS4/MABBMR/default.aspx">Workpoint link</a></p>
		</div>

		<div class="col-xs-12">
			<h4>Application Architecture</h4>
			<p>Sharepoint 2010</p>
		</div>

	</div>


	<div class="col-xs-6 col-md-4 col-lg-4">
		<div class="col-xs-12">
			<h4>Business Function</h4>
			<p>Brand Building</p>
		</div>

		<div class="col-xs-12">
			<h4>Project Audience</h4>
			<p>All Employees</p>
		</div>

		 
	</div>


  </div>

</div>

</div>