---
base_url: "../../"
url: /examples/masonry/
masonry: true
---

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Project name</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="hero-unit">
  <div class="container">
    <h1>Masonry!</h1>
    <p class="lead">This is an example of a full-width page with a masonry layout.  Go ahead, resize your browser...</p>
  </div>

</div>

<div id="masonry-container" class="masonry-container">
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. <img src="http://placehold.it/600x400" alt=""> Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">
    <div class="col-xs-12 form-example">
      <form>
        <legend>Edit Address Details</legend>
        <fieldset class='row'>

          <div class="control-group col-xs-6">
            <label class="control-label" for="firstName">First Names</label>
            <div class="controls">
              <input id="firstName" type="text" class="col-xs-12" placeholder="John" required>
            </div>
          </div>

          <div class="control-group col-xs-6">
            <label class="control-label" for="lastName">Last Name</label>
            <div class="controls">
              <input id="lastName" type="text" class="col-xs-12" placeholder="Doe" required>
            </div>
          </div>

        </fieldset>

        <fieldset>
          <label class="control-label">Address:</label>
          <input id="addressLine1" type="text" class="col-xs-12" placeholder="Address Line 1" required>

          <input id="addressLine2" type="text" class="col-xs-12" placeholder="Address Line 2">

          <div class="row">

            <div class="control-group col-xs-8">
              <input id="postalCode" type="text" class="col-xs-12" placeholder="Postal Code">
            </div>

            <div class="control-group col-xs-4">
              <input id="city" type="text" class="col-xs-12" placeholder="City" required>
            </div>

          </div>



          <div class="controls controls-row">
            <select required>
              <option disabled selected="selected">Country</option>
              <option>Bangladesh</option>
              <option>France</option>
              <option>Switzerland</option>
              <option>United Kingdom</option>
              <option>United States</option>
            </select>
          </div>

        </fieldset>

        <fieldset>

          <label class="control-label">Phone Numbers</label>

          <div class="row">
          <div class="control-group col-xs-6">
            <div class="controls">
              <div class="input-append">
                <input id="phoneHome" type="tel" class="col-xs-10" placeholder="Home" required>
                <span class="add-on"><i class="icon-home"></i></span>
              </div>

              <span class="help-block">eg: +41 (12) 3456 7890</span>
            </div>
          </div>

          <div class="control-group col-xs-6">
            <div class="controls">
              <div class="input-append">
                <input id="phoneMobile" type="tel" class="col-xs-10" placeholder="Mobile">
                <span class="add-on"><i class="icon-home"></i></span>
              </div>

              <span class="help-block">eg: +41 (12) 3456 7890</span>
            </div>
          </div>
          </div>


        </fieldset>


        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save Changes</button>
          <button type="cancel" class="btn btn-secondary">Cancel</button>
        </div>

      </form>


    </div>

  </div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x"><img src="http://placehold.it/600x400" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium <img src="http://placehold.it/600x400" alt=""> maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ page.base_url }}img/slide-01.jpg" alt="">
          <div class="carousel-caption">
            <h4>First Thumbnail label</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor p nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
        <div class="item">
          <img src="{{ page.base_url }}img/slide-02.jpg" alt="">
          <div class="carousel-caption">
            <h4>Second Thumbnail label</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
        <div class="item">
          <img src="{{ page.base_url }}img/slide-03.jpg" alt="">

        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a>
    </div>
  </div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
</div>

<footer class="dive-docs-footer">
  <div class="container">

    <hr>
    <div class="row">
      <div class="col-sm-5 col-md-7 col-lg-8">
        <img src="{{ page.base_url }}img/pmi-logo.png" class="footer-logo" alt="PMI">
      </div>

      <div class="col-sm-7 col-md-5 col-lg-4">
        <p>DiVE Library is owned by PMI and respective copyrights holders and is meant to be redistributed outside of PMI premises</p>
        <ul class="unstyled inline">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>

    </div> <!--  /row  -->
  </div> <!--  /container  -->
</footer>