---
base_url: "../../"
url: /examples/masonry/
masonry: true
title: Masonry-based Sample Page
---

<div id="masonry-container" class="js-masonry" >
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. <img src="{{ page.base_url }}img/dive-docs-img/600x400.gif" alt=""> Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x"><img src="{{ page.base_url }}img/dive-docs-img/600x400.gif" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium <img src="{{ page.base_url }}img/dive-docs-img/600x400.gif" alt=""> maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
</div>


  
    <script>
  
    var containermas = $('#masonry-container');
    // initialize Masonry after all images have loaded
    containermas.imagesLoaded( function() {
      containermas.masonry({
        columnWidth: 400,
        itemSelector: '.msnry',
        gutter: 20,
        isFitWidth: true
      });
    });
 
    </script>
