---
base_url: "../../"
url: /examples/masonry/
masonry: true
title: Masonry-based Sample Page
---


<div id="masonry-container" class="masonry-container">
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. <img src="http://placehold.it/600x400" alt=""> Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x"><img src="http://placehold.it/600x400" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium <img src="http://placehold.it/600x400" alt=""> maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
  <div class="msnry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, cupiditate autem quisquam cumque. Dolores, quisquam repellendus voluptate tenetur dolorum aliquid ducimus temporibus tempora magnam beatae? Consequuntur facere repellendus illo nam.</div>
  <div class="msnry msnry-2x">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, id, rem in iusto ipsam dolores reiciendis obcaecati nulla porro minus similique accusantium maxime molestiae temporibus deleniti iure incidunt voluptatem provident?</div>
</div>

 