---
base_url: "../../"
url: /examples/signin/
title: "Sign in Example"
---

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 form-example">
      <form>
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="control-group clearfix">
          <input type="text" class="input-block-level col-xs-12" placeholder="Email address">
          <input type="password" class="input-block-level col-xs-12" placeholder="Password">
        </div>
        <div class="control-group clearfix">
          <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</div> <!-- /container -->

