---
base_url: "../../"
url: /examples/user-info/
title: "User info - Step 2"
---

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 form-example">
      <form>
        <legend>Additional information</legend>
        <fieldset class='row'>
          <div class="control-group col-xs-6">
            <div class="controls">
              <div class="input-append">
                <label class="control-label" for="lastName">job Postion: </label>
                <input id="firstName" type="text" class="col-xs-11" placeholder="Type your position" required> <span class="add-on"> part of: </span>
              </div>
            </div>
          </div>
          <div class="control-group col-xs-6">
            <div class="controls">
              <label class="control-label" for="lastName">Team: </label>
              <select required>
                <option  selected="selected">All Teams</option>
                <option>Team #1</option>
                <option>Team #2</option>
                <option>Team #3</option>
                <option>Team #4</option>
                <option>Team #5</option>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="row">
            <div class="control-group col-xs-7">
              Skills:
            </div>
            <div class="control-group col-xs-5 text-right">
              <button class="btn btn-primary" type="button">Add Skill <i class="icon-plus-sign"></i></button>
            </div>
          </div>
          <table class="table table-striped">
            <tr>
              <td>
                <div class="controls">
                  Name of the skill
                </div>
              </td>
              <td>
                <div class="controls">
                  <input type="checkbox" id="switch-md" class="switch-checkbox" checked/>
                  <label class="switch switch-md" for="switch-md">
                    <div class="switch-slider">
                      <div class="switch-button">&nbsp;</div>
                      <div class="switch-content switch-content--left"><span>Active</span></div>
                      <div class="switch-content switch-content--right"><span>Inactive</span></div>
                    </div>
                  </label>
                </div>
              </td>
              <td>
                <div class="controls">
                  Rating:
                  <i class="icon-star icon-star--active"></i>
                  <i class="icon-star icon-star--active"></i>
                  <i class="icon-star icon-star--inactive"></i>
                  <i class="icon-star icon-star--inactive"></i>
                  <i class="icon-star icon-star--inactive"></i>
                </div>
              </td>
              <td> <a href="#"  class="pull-right">    Remove Skill <i class="icon-minus-sign"></i></a></td>
            </tr>

<tr>
              <td>
                <div class="controls">
                  Name of the skill
                </div>
              </td>
              <td>
                <div class="controls">
                  <input type="checkbox" id="switch-md" class="switch-checkbox" />
                  <label class="switch switch-md" for="switch-md">
                    <div class="switch-slider">
                      <div class="switch-button">&nbsp;</div>
                      <div class="switch-content switch-content--left"><span>Active</span></div>
                      <div class="switch-content switch-content--right"><span>Inactive</span></div>
                    </div>
                  </label>
                </div>
              </td>
              <td>
                <div class="controls">
                  Rating:
                  <i class="icon-star icon-star--active"></i>
                  <i class="icon-star icon-star--active"></i>
                  <i class="icon-star icon-star--active"></i>
                  <i class="icon-star icon-star--inactive"></i>
                  <i class="icon-star icon-star--inactive"></i>
                </div>
              </td>
              <td> <a href="#"  class="pull-right">    Remove Skill <i class="icon-minus-sign"></i></a></td>
            </tr>
            <tr>
              <td>
                <div class="controls">
                  Name of the skill
                </div>
              </td>
              <td>
                <div class="controls">
                  <input type="checkbox" id="switch-md" class="switch-checkbox" checked/>
                  <label class="switch switch-md" for="switch-md">
                    <div class="switch-slider">
                      <div class="switch-button">&nbsp;</div>
                      <div class="switch-content switch-content--left"><span>Active</span></div>
                      <div class="switch-content switch-content--right"><span>Inactive</span></div>
                    </div>
                  </label>
                </div>
              </td>
              <td>
                <div class="controls">
                  Rating:
                  <i class="icon-star icon-star--active"></i>
                  <i class="icon-star icon-star--active"></i>
                  <i class="icon-star icon-star--active"></i>
                  <i class="icon-star icon-star--active"></i>
                  <i class="icon-star icon-star--active"></i>
                </div>
              </td>
              <td> <a href="#"  class="pull-right">    Remove Skill <i class="icon-minus-sign"></i></a></td>
            </tr>
            <tr>
              <td>
                <div class="controls">
                  Name of the skill
                </div>
              </td>
              <td>
                <div class="controls">
                  <input type="checkbox" id="switch-md" class="switch-checkbox" />
                  <label class="switch switch-md" for="switch-md">
                    <div class="switch-slider">
                      <div class="switch-button">&nbsp;</div>
                      <div class="switch-content switch-content--left"><span>Active</span></div>
                      <div class="switch-content switch-content--right"><span>Inactive</span></div>
                    </div>
                  </label>
                </div>
              </td>
              <td>
                <div class="controls">
                  Rating:
                  <i class="icon-star icon-star--active"></i>
                  <i class="icon-star icon-star--inactive"></i>
                  <i class="icon-star icon-star--inactive"></i>
                  <i class="icon-star icon-star--inactive"></i>
                  <i class="icon-star icon-star--inactive"></i>
                </div>
              </td>
              <td> <a href="#"  class="pull-right">    Remove Skill <i class="icon-minus-sign"></i></a></td>
            </tr>
          </table>
  <label> More informations: </label>
     <textarea rows="5" class="col-xs-12"></textarea>
        </fieldset>
        <ul class="pager ">
          <li class="previous">
            <a href="{{ page.base_url }}examples/user-info/" class="btn btn-secondary">&larr; Previous</a>
          </li>

          <li class="next">
            <a href="{{ page.base_url }}examples/user-info-2/" class="btn btn-secondary">Next &rarr;</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div> <!-- /container -->

