---
base_url: "../../"
url: /examples/user-info/
title: "User info"
---

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 form-example">
      <form>
        <legend>General information</legend>
        <fieldset class='row'>
          <div class="control-group col-xs-6">
            <label class="control-label" for="firstName">First Name:</label>
            <div class="controls">
              <input id="firstName" type="text" class="col-xs-12" placeholder="John" required>
            </div>
          </div>
          <div class="control-group col-xs-6">
            <label class="control-label" for="lastName">Last Name:</label>
            <div class="controls">
              <input id="lastName" type="text" class="col-xs-12" placeholder="Doe" required>
            </div>
          </div>
          <div class="control-group col-xs-6">
            <label class="control-label" for="firstName">Gender:</label>
            <div class="controls inline">
              <label class="radio inline">
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >
                Male
              </label>
              <label class="radio inline">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
                Female
              </label>
            </div>
          </div>
          <div class="control-group col-xs-6">
            <label class="control-label" for="lastName">Birth Date:</label>
            <div class="select-inline select-striped">
              <select >
                <option>MM</option>
                <option>option #1</option>
                <option>option #2</option>
                <option>option #3</option>
              </select>
              <select >
                <option>DD</option>
                <option>option #1</option>
                <option>option #2</option>
                <option>option #3</option>
              </select>
              <select >
                <option>YYYY</option>
                <option>option #1</option>
                <option>option #2</option>
                <option>option #3</option>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset class='row'>
          <div class="control-group col-xs-6">
            <label class="control-label" for="lastName">Salary:</label>
            <div class="input-prepend input-append">
              <span class="add-on">$</span>
              <input   id="appendedPrependedInput" type="text">
              <span class="add-on">.00</span>
            </div>
          </div>
          <div class="control-group col-xs-6">
            <label class="control-label" for="lastName">Nikname:</label>
            <div class="input-prepend">
              <span class="add-on">@</span>
              <input   type="text" placeholder="Username">
            </div>
          </div>
        </fieldset>
        <fieldset class='row'>
          <div class="control-group col-xs-6">
            <label class="control-label" for="lastName">Work email: </label>
            <div class="input-prepend ">
              <span class="add-on"><i class="icon-email"></i></span>
              <input    type="email" placeholder="Insert your Email"  >
            </div>
          </div>
          <div class="control-group col-xs-6">
            <label class="control-label" for="lastName">Personal email: </label>
            <div class="input-prepend ">
              <span class="add-on"><i class="icon-email"></i></span>
              <input    type="email" placeholder="Insert your Email"  >
            </div>
          </div>
        </fieldset>
        <ul class="pager ">
          <li class="previous">
          </li>
          <li class="next">
            <a href="{{ page.base_url }}examples/user-info-1/" class="btn btn-secondary">Next &rarr;</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div> <!-- /container -->

