---
base_url:
nav:
title: DiVE Library - Page not found
---

<div class="hero-unit dive-docs-hero-unit">
  <div class="container">
    <h1>Ooops :-( something went wrong...</h1>
  </div>
</div>

<div class="container main-container">

  <a href="#top" id="back-to-top" class="icon icon-back-to-top back-to-top is-hidden"></a>

  <div class="row">

    <!-- image -->
    <div class="col-sm-6 col-md-5">
    	<img src="{{ page.base_url }}img/404_image.jpg"/>

      &nbsp;
    </div>

    <!-- Main Content -->
    <div class="col-sm-6 col-md-7">

    	<h2>Page not found</h2>
    	<p>This page you were trying to reach at this adress doesn't seem to exist. This is usually the result of a bad or outdated link. We apologies for any inconvenience.</p>

    	<h2>What can I do now?</h2>
    	<p>If it is the first time visiting DiVE Library, Welcome! sorry fir the circumstances under which we're meeting. Here's where you can go from here:</p>
    	<ul>
    		<li>Go back to <a href="{{ page.base_url }}index.html">DiVE Library Home Page</a></li>
    		<li>Click on any items in the navigation above</li>
    		<li>If you believe that a page should be here and that siomething's went wrong please do not hesistate to contact either <a href="#">Jeremie Obserson</a> or <a href="#">Christophe Renaut</a></li>
    	</ul>

    </div>

  </div>

</div>