---
base_url: "../"
url: /changelog/
---

<div class="hero-unit dive-docs-hero-unit orange">
  <div class="container">
    <h1>Changelog &amp; Roadmap</h1>
    <p>What's new and coming up next in DiVE Library.</p>
  </div>
</div>

<div class="container main-container">

  <a href="#top" id="back-to-top" class="icon icon-back-to-top back-to-top is-hidden"></a>

  <h2>Changelog</h2>

  <p>Check the changelog for the latest updates to DiVE Library.</p>

  <h4>VR09</h4>

  <ul>
    <li>Beta go live!</li>
    <li>Site fully operational</li>
    <li>Boilerplate ready to use</li>
  </ul>

  <h2>Roadmap</h2>

  <p>Coming up next in DiVE Library</p>

  <ul>
    <li>Popover color variation</li>
    <li>Inline Date Selector </li>
    <li>Loading animation</li>
    <li>Pagination jump to page</li>
    <li>Date picker</li>
    <li>Navigation horizontal tabs color variation</li>
    <li>Progress wheel</li>
    <li>Switch buttons disabled</li>
    <li>[Example] Display loading animation in input fields</li>
    <li>[Example] Button split dropdown loader</li>
    <li>[Example] Perform advanced search</li>
    <li>[Example] Searching in a text input</li>
    <li>[Example] Display mini forms contextually</li>
    <li>[Example] Ask user information</li>
    <li>[Example] Browse within Hierarchy</li>
  </ul>

</div>