---
base_url: "../../"
url: /changelog/
title: DiVE Library - Changelog
---

<div class="hero-unit dive-docs-hero-unit orange">
  <div class="container">
    <h1>Changelog &amp; Roadmap</h1>
    <p>About the current release and what is coming up next in DiVE Library.</p>
  </div>
</div>

<div class="container main-container">

  <a href="#top" id="back-to-top" class="icon icon-back-to-top back-to-top is-hidden"></a>

  <h2>Current release</h2>

  <p>Check the changelog for the current release</p>
  <h4>V1R1 - January 2014</h4>
   <ul>
    <li>Various bug fixes and code clean-up</li>
    <li>Various contents updates</li>
    <li>[Examples] New 3 column layouts</li>
  </ul>
<br>
<h2>Previous Releases</h2>
 <p>Check the changelog for the previous releases</p>
  <h4>V1R0 - October 2013</h4>
   <ul>
    <li>Various bug fixes and copy corrections</li>
    <li>[Components] Popover color variation</li>
    <li>[Components] Inline Date Selector </li>
    <li>[Components] Loading animation</li>
    <li>[Components] Pagination jump to page</li>
    <li>[Components] Date picker</li>
    <li>[Components] Navigation horizontal tabs color variation</li>
    <li>[Components] Progress wheel</li>
    <li>[Components] Switch buttons disabled</li>
    <li>[Examples] Display loading animation in input fields</li>
    <li>[Examples] Button split dropdown loader</li>
    <li>[Examples] Perform advanced search</li>
    <li>[Examples] Searching in a text input</li>
    <li>[Examples] Display mini forms contextually</li>
    <li>[Examples] Ask user information</li>
    <li>[Examples] Browse within Hierarchy</li>
  </ul>
  <br>
 <h4>V0R9 - September 2013</h4>
  <ul>
    <li>Beta is live!</li>
    <li>Site fully operational</li>
    <li>Boilerplate ready to use</li>
  </ul>
<br>
  <h2>Coming up next in DiVE Library</h2>
  <ul>
    <li>Adding rationales in components</li>
    <li>[Example] new page tempaltes</li>
    <li>[Example] new "built with DiVE Library"</li>
  </ul>

</div>