---
base_url: "../../"
url: /changelog/
title: DiVE Library - Changelog
---

<div class="hero-unit dive-docs-hero-unit orange">
  <div class="container">
    <h1>Changelog &amp; Roadmap</h1>
    <p>About the current release and what is coming up next in DiVE Library.</p>
  </div>
</div>

<div class="container main-container">

  <a href="#top" id="back-to-top" class="icon icon-back-to-top back-to-top is-hidden"></a>

  <h2>Current release</h2>

  <p>Check the changelog for the current release</p>
  <h4>V1.2 - July 2014</h4>
  <ul>
   <li>[CORE] Restructure of the core (html,js,css) </li>
   <li>[CORE] Javascripts where separated for performance and scalability reasons.</li> 
   <li>[LICENSE] updated with more detail accroding to new core structure.</li>
   <li>[Documentation] New and updated documentation for Developers </li>
   <li>[Offline] DiVE Source is now offline ready and can be navigated on any device without server environment</li>
   <li>[Components] multi-level dropdown </li>
   <li>[Components] multi-level dropdown "Staked pills" </li>
   <li>[Components] New Table Responsive "Bootstrap Style" </li>
   <li>[Components] New Table Responsive "DiVE Style" </li>
   <li>[Components] Sorting, highlight classes for tables </li>
   <li>[Examples] Enhanced example sections </li>
   <li>[Examples] 4 new "Build with DiVE" examples </li>
   <li>[Examples] Functional behaviours on the "user information" example  </li>
   <li>Various bug fixes and code clean-up</li>
   <li>Various contents updates</li>
   
 </ul>
 

 

 <hr class="dive-docs-separator">
 <h2>Previous Releases</h2>
 <p>Check the changelog for the previous releases</p>
 <h4>V1.1 - January 2014</h4>
 <ul>
  <li>Various bug fixes and code clean-up</li>
  <li>Various contents updates</li>
  <li>[Examples] New 3 column layouts</li>
</ul>
<br>

<h4>V1.0 - October 2013</h4>
<ul>
  <li>Various bug fixes and copy corrections</li>
  <li>[Components] Popover color variation</li>
  <li>[Components] Inline Date Selector </li>
  <li>[Components] Loading animation</li>
  <li>[Components] Pagination jump to page</li>
  <li>[Components] Date picker</li>
  <li>[Components] Navigation horizontal tabs color variation</li>
  <li>[Components] Progress wheel</li>
  <li>[Components] Switch buttons disabled</li>
  <li>[Examples] Display loading animation in input fields</li>
  <li>[Examples] Button split dropdown loader</li>
  <li>[Examples] Perform advanced search</li>
  <li>[Examples] Searching in a text input</li>
  <li>[Examples] Display mini forms contextually</li>
  <li>[Examples] Ask user information</li>
  <li>[Examples] Browse within Hierarchy</li>
</ul>
<br>
<h4>V0.9beta - September 2013</h4>
<ul>
  <li>Beta is live!</li>
  <li>Site fully operational</li>
  <li>Boilerplate ready to use</li>
</ul>



<hr class="dive-docs-separator">
<h2>Coming up next in DiVE Library</h2>
<ul>
  <li>[Components] card layout</li>
  <li>[CORE] implementation of data model and widgeted architecture</li>
  <li>[Components] Dashboard elements</li>
  <li>[Utility] WYSIWYG drag-drop application for DiVE Library</li>
</ul>

</div>