---
base_url: "../"
nav: Home
title: DiVE Library - Contact the UXD Team
---

<div class="hero-unit dive-docs-hero-unit blue">
  <div class="container">
    <h1>Contact</h1>
    <p>Any questions about DiVE Library? Feel free to ask the team.</p>
  </div>
</div>

<div class="container main-container">

  <a href="#top" id="back-to-top" class="icon icon-back-to-top back-to-top is-hidden"></a>

  <div class="row">
 
    <div class="dive-docs-main">

    	<h2>Meet the UXD team</h2>
    	<p>Christophe and Jeremie are here to answer your questions, taking your remarks very seriously but always looking at the bright side of the moon.</p>
    	<a class="btn btn-large btn-primary" href="mailto:christophe.renaut@pmi.com">Contact the PMI UXD team (email)</a>

    </div>

  </div>

</div>