---
base_url: "../"
nav: Examples
title: DiVE Library - Example MyEvents
---

<div class="hero-unit dive-docs-hero-unit green">
  <div class="container">
    <h1>Examples</h1>
    <p>Browse a collection of best practices built with DiVE Library.</p>
  </div>
</div>

<div class="container main-container">

  <a href="#top" id="back-to-top" class="icon icon-back-to-top back-to-top is-hidden"></a>

  <div class="row">



    <!-- Main Content -->
    <div class="col-12 dive-docs-main">

      {{> examples }}

    </div>

  </div>

</div>