---
base_url: "../../"
nav: Getting Started
title: DiVE Library - Getting Started
---

<div class="hero-unit dive-docs-hero-unit green">
  <div class="container">
    <h1>Getting Started</h1>
    <p>Understand the foundations of the library and how it can be used.</p>
  </div>
</div>
<div class="container main-container">
  <a href="#top" id="back-to-top" class="icon icon-back-to-top back-to-top is-hidden"></a>
  <div class="row">
    <div id="dive-side-nav" class="col-sm-4 col-md-3 dive-docs-sidebar">
      <ul class="nav nav-list dive-docs-sidenav affix-top" data-spy="affix" data-offset-top="197">
        <li><a href="#using-dive"><i class="icon-chevron-right"></i> Using DiVE Library</a></li>
        <li><a href="#design-principles"><i class="icon-chevron-right"></i>Design Principles</a></li>
        <li><a href="#download"><i class="icon-chevron-right"></i> Download</a></li> 
        <li><a href="#included"><i class="icon-chevron-right"></i> Inside the Start-Up Kit</a></li>
          <li><a href="#start-simple"><i class="icon-chevron-right"></i> Start simple</a></li>

     <li><a href="#inside-source"><i class="icon-chevron-right"></i> Inside the Sources</a></li>
     <li><a href="#core-architecture"><i class="icon-chevron-right"></i> Core Architecture</a></li>
      </ul>
      &nbsp;
    </div>
    <div class="col-sm-8 col-md-9">
      {{> using-dive }}
      {{> design-principles }}
      {{> download }} 
        {{> inside-boilerplate }}
  {{> start-simple }}
   
      {{> inside-source }}
      {{> core-architecture }}
    </div>
  </div>
</div>