---
base_url: "../"
nav: Getting Started
title: DiVE Library - Getting Started
---

<div class="hero-unit dive-docs-hero-unit green">
  <div class="container">
    <h1>Getting Started</h1>
    <p>Starting work on a new project? Check here first!</p>
  </div>
</div>

<div class="container main-container">

  <a href="#top" id="back-to-top" class="icon icon-back-to-top back-to-top is-hidden"></a>

  <div class="row">

    <div id="dive-side-nav" class="col-sm-4 col-md-3 dive-docs-sidebar">

      <ul class="nav nav-list dive-docs-sidenav affix-top" data-spy="affix" data-offset-top="197">

        <li><a href="#using-dive"><i class="icon-chevron-right"></i> Using DiVE Library</a></li>
        <li><a href="#responsive-design"><i class="icon-chevron-right"></i> Responsive Design</a></li>
        <li><a href="#download"><i class="icon-chevron-right"></i> Download</a></li>
        <li><a href="#included"><i class="icon-chevron-right"></i> What's Included</a></li>
        <li><a href="#template"><i class="icon-chevron-right"></i> Basic Template</a></li>

      </ul>
      &nbsp;
    </div>

    <!-- Main Content -->
    <div class="col-sm-8 col-md-9">

      {{> using-dive }}
      {{> responsive-design }}
      {{> download }}
      {{> included }}
      {{> basic-template }}

    </div>

  </div>



</div>