 ---
base_url: "../"
url: /license/
---

<div class="hero-unit dive-docs-hero-unit grey">
  <div class="container">
    <h1>License</h1>
    <p>About DiVE Library sources</p>
  </div>
</div>

<div class="container main-container">

  <a href="#top" id="back-to-top" class="icon icon-back-to-top back-to-top is-hidden"></a>

  <p>DIVE Library has been built with a framework under the <a href="../LICENSE.txt" >Apache Version 2.0, January 2004 license </a></p>
  <p>PMI additions and amendments 2013</p>
</div>