<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
{{#if page.title }}
<title>{{ page.title }}</title>
{{else}}
<title>DiVE Library</title>
{{/if}}

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<!-- build:css(.tmp) {{ page.base_url }}css/main.css -->
<link rel="stylesheet" href="/css/main.css">
<!-- endbuild -->

<!-- build:js {{ page.base_url }}scripts/vendor/modernizr.js -->
<script src="/js/vendor/modernizr.js"></script>
<!-- endbuild -->

