  <!-- Template
  ================================================== -->
<section id="simple">
    <hr class="soften">
    <div class="page-header">
      <h1>Start simple</h1>
    </div>
    <p class="lead">Make use of the Boilerplate (a super basic HTML template), or <a href="../examples"> browse the examples</a> we've setup for you. We encourage you to iterate on these examples. Be inspired, reuse. And tell us about your experience!</p>

    <p>The following HTML structure is the index.html file from the <a href="../DiVE-boilerplate.zip">DiVE Boilerplate zip</a>.</p>

{{#markdown}}
```markup
<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="css/dive.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>

    <!-- Add your site or application content here -->
    <p>Hello world! This was created using the PMI DiVE Library!</p>

    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="js/dive.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>

```
{{/markdown}}
  </section>

