<!-- Breadcrumbs NV_005
================================================== -->
<section id="breadcrumbs">
   <div class="page-header">
      <h1>Breadcrumbs</h1>
   </div>

  <h2>Examples</h2>
  <p>A single example shown as it might be displayed across multiple pages.</p>
  <div class="dive-docs-example">
    <ul class="breadcrumb">
      <li class="active">Home</li>
    </ul>
    <ul class="breadcrumb">
      <li><a href="#">Home</a> <span class="divider">►</span></li>
      <li class="active">Library</li>
    </ul>
    <ul class="breadcrumb" style="margin-bottom: 5px;">
      <li><a href="#">Home</a> <span class="divider">►</span></li>
      <li><a href="#">Library</a> <span class="divider">►</span></li>
      <li class="active">Data</li>
    </ul>
  </div>

{{#markdown}}
```markup
<ul class="breadcrumb">
  <li><a href="#">Home</a> <span class="divider">/</span></li>
  <li><a href="#">Library</a> <span class="divider">/</span></li>
  <li class="active">Data</li>
</ul>
```
{{/markdown}}

</section>
