<!-- Breadcrumbs NV_005
================================================== -->
<section id="breadcrumbs">
  <div class="page-header">
    <h1>Breadcrumbs</h1>
  </div>


  <div id="rationale-breadcrumbs" class="dive-docs-rationale collapse">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#rationale-breadcrumbs">
      Read the Rationale
    </button>


    <h5>What is it?</h5>
    <p>Breadcrumbs (or breadcrumb trail) is a navigation help. </p>

    <h5>What problem does it solve?</h5>
    <p>It allows users to keep track of their location within the website or the application. </p>
    <p>It provides a trail for the user to follow back to the starting or entry point.</p>
    <p>It reduces the number of actions a website visitor needs to take in order to get to a higher-level page, and they improve the “findability” of website sections and pages.</p>

    <h5>When should I use it?</h5>
    <p>Use it on websites or applications with numerous pages and evident structuring steps to guide user through the website.</p>

    <h5>How should I use it?</h5>
    <p>Breadcrumbs typically appear horizontally across the top of a web page, often below title bars or headers. </p>
    <p>They provide links back to each previous page the user navigated through to get to the current page or—in hierarchical site structures—the parent pages of the current one.</p>
    <p>Label the steps clearly, and make clear that they are clickable links.</p>
  </div>

  <h2>Examples</h2>
  <p>A single example shown as it might be displayed across multiple pages.</p>
  <div class="dive-docs-example">
    <ul class="breadcrumb">
      <li class="active">Home</li>
    </ul>
    <ul class="breadcrumb">
      <li><a href="#">Home</a> <span class="divider">►</span></li>
      <li class="active">Library</li>
    </ul>
    <ul class="breadcrumb" style="margin-bottom: 5px;">
      <li><a href="#">Home</a> <span class="divider">►</span></li>
      <li><a href="#">Library</a> <span class="divider">►</span></li>
      <li class="active">Data</li>
    </ul>
  </div>
<link href="http://softwaremaniacs.org/media/soft/highlight/styles/default.css" rel="stylesheet"></link>
 

 
<script src="http://softwaremaniacs.org/media/soft/highlight/highlight.pack.js"></script>
 <style>
.linenums pre{background: none;  background-color: none; width:auto; margin-left:40px;  padding:0; border:none;}
.linenums pre code[class*="language-"]{ background-color: #ffccoo;  border:none;}
 </style>

<div class="prettyprint ">  
 {{#markdown}}
``` javascript
<ul class="breadcrumb ">
  <li><a href="#">Home</a> <span class="divider">/</span></li>
  <li><a href="#">Library</a> <span class="divider">/</span></li>
  <li class="active">Data</li>
</ul>
1. <ul class="breadcrumb ">
2.  <li><a href="#">Home</a> <span class="divider">/</span></li>
3.  <li><a href="#">Library</a> <span class="divider">/</span></li>
4.  <li class="active">Data</li>
5. </ul>
```
 {{/markdown}}
 
  </div>
 
 {{#markdown}}
``` handlebars
1. <ul class="breadcrumb ">
2.  <li><a href="#">Home css</a> <span class="divider">/</span></li>
3.  <li><a href="#">Library</a> <span class="divider">/</span></li>
4.  <li class="active">Data</li>
5. </ul>
```
 {{/markdown}}
 

{{#markdown}}
``` JSON
<ul class="breadcrumb ">
  <li><a href="#">Home 2</a> <span class="divider">/</span></li>
  <li><a href="#">Library</a> <span class="divider">/</span></li>
  <li class="active">Data</li>
</ul>
```
{{/markdown}}

<div class="highlight">
{{#markdown}}
```js
<div class="highlight"><pre><span class="nx">grunt</span><span class="p">.</span><span class="nx">initConfig</span><span class="p">({</span>
  <span class="nx">assemble</span><span class="o">:</span> <span class="p">{</span>
    <span class="nx">options</span><span class="o">:</span> <span class="p">{</span>
      <span class="nx">assets</span><span class="o">:</span> <span class="s1">'docs/assets'</span><span class="p">,</span>
      <span class="nx">data</span><span class="o">:</span> <span class="s1">'src/data/*.{json,yml}'</span><span class="p">,</span>
      <span class="nx">helpers</span><span class="o">:</span> <span class="s1">'src/custom-helpers.js'</span><span class="p">,</span>
      <span class="nx">partials</span><span class="o">:</span> <span class="p">[</span><span class="s1">'src/partials/**/*.{hbs,md}'</span><span class="p">]</span>
    <span class="p">},</span>
    <span class="nx">pages</span><span class="o">:</span> <span class="p">{</span>
      <span class="nx">options</span><span class="o">:</span> <span class="p">{</span>
        <span class="nx">layout</span><span class="o">:</span> <span class="s1">'default.hbs'</span>
      <span class="p">},</span>
      <span class="nx">files</span><span class="o">:</span> <span class="p">{</span>
        <span class="s1">'./'</span><span class="o">:</span> <span class="p">[</span><span class="s1">'src/templates/pages/index.hbs'</span><span class="p">]</span>
      <span class="p">}</span>
    <span class="p">}</span>
  <span class="p">}</span>
<span class="p">};</span>
</pre></div>
```
{{/markdown}}
</div>


{{#markdown}}
``` javascript
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="css/dive.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <p>Hello world! This was created using the PMI DiVE LIbrary!</p>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="js/dive.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

```
{{/markdown}}

<div class="highlight">
  <pre>
    fdf
    df
    df
    d
    f
    </pre>
  </div>


</section>