<!-- Split button dropdowns AI_001
================================================== -->
<section id="button-dropdowns">
  <div class="page-header">
    <h1>Button dropdown menus</h1>
  </div>

  <div id="rationale-button-dropdowns" class="dive-docs-rationale collapse">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#rationale-button-dropdowns">
      Read the Rationale
    </button>


    <h5>What is it?</h5>
    <p>Dropdown button allows user to skip the default value display in the primary button, and thanks the drop-down menu can bound from one item to another one.</p>

    <h5>What problem does it solve?</h5>
    <p>Dropdown button decreases the number of buttons present in the page (save screen space).</p>

    <h5>When should I use it?</h5>
    <p>When you want to show close related items.</p>

    <h5>How should I use it?</h5>
    <p>Dropdown button are useful where the next action with a specific tool is similar at the last action.</p>
  </div>



  <h2>Overview and examples</h2>
  <p>Use any button to trigger a dropdown menu by placing it within a <code>.btn-group</code> and providing the proper menu markup.</p>
  <div class="dive-docs-example">
    <div class="btn-toolbar" style="margin: 0;">
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">Primary <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Secondary <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Danger <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Warning <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Success <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Info <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">Inverse <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-light dropdown-toggle" data-toggle="dropdown">Light <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /btn-toolbar -->
  </div>

{{#markdown}}
``` markup
<div class="btn-group">
  <button class="btn btn-light dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
  </ul>
</div> 
```
{{/markdown}}

  <div class="alert alert-danger">
    <h3>Requires JavaScript</h3>
    <p>Button dropdowns require the <code>dive.js</code> or <code>dive.dev.js</code> file to function.<br>
    In some cases&mdash;like mobile&mdash;dropdown menus will extend outside the viewport. You need to resolve the alignment manually or with custom JavaScript.</p>
  </div>


 <h3>Multi-level dropdown</h3>
  
   <p>Button dropdowns can handle multi-level, with no limitation on the amount of levels.<br>Just include inside your desired link/list <code>li</code> or <code>ul</code> the calss <code> class="dropdown-menu"</code>.</p>


  <div class="dive-docs-example">
    <div class="btn-toolbar" style="margin: 0;">
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">Primary <span class="caret"></span></button>
        <ul class="dropdown-menu" >
          <li><a href="#">Some action</a></li>
          <li><a href="#">Some other action</a></li>
          <li class="dropdown-submenu">
            <a href="#">Hover me for more options</a>
            <ul class="dropdown-menu">
              <li><a href="#">Second level</a></li>
              <li><a href="#">Second level</a></li>
              <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li class="dropdown-submenu"> 
                    <a href="#">Even more level...</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">4th level</a></li>
                      <li><a href="#">4th level</a></li>
                      <li><a href="#">4th level</a></li>
                    </ul>
                  </li>
                  <li><a href="#">3rd level</a></li>
                </ul>
              </li>
              <li><a href="#">Second level</a></li>
              <li><a href="#">Second level</a></li>
              <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li  class="dropdown-submenu"> 
                    <a href="#">Even more level...</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">4th level</a></li>
                      <li class="dropdown-submenu">
                        <a href="#">Let's exaggerate..</a>
                        <ul class="dropdown-menu">
                          <li><a href="#">5th level</a></li>
                          <li><a href="#">5th level</a></li>
                        </ul>
                      </li>
                      <li><a href="#">4th level</a></li>
                    </ul>
                  </li>
                  <li><a href="#">3rd level</a></li>
                </ul>
              </li>
              <li><a href="#">Second level</a></li>
            </ul>
          </li>
          <li><a href="#">Some more action</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /btn-toolbar -->
  </div>

{{#markdown}}
``` markup
<div class="btn-group">
  <button class="btn btn-light dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">link example</a></li>
    <li><a href="#">link example</a></li>
    <li class="dropdown-submenu"> 
      <a href="#">link with sub-level</a>
      <ul class="dropdown-menu">
       <!-- dropdown menu links -->
       <li><a href="#">link example</a></li>
       <li><a href="#">link example</a></li>
     </ul>
   </li>
 </ul>
</div> 
```
{{/markdown}}


  <h3>Works with all button sizes</h3>
  <p>Button dropdowns work at any size:  <code>.btn-large</code>, <code>.btn-small</code>, or <code>.btn-mini</code>.</p>
  <div class="dive-docs-example">
    <div class="btn-toolbar" style="margin: 0;">
      <div class="btn-group">
        <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">Large button <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Small button <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">Mini button <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /btn-toolbar -->
  </div>


  <hr class="dive-docs-separator">


  <h2>Split button dropdowns</h2>
  <p>Building on the button group styles and markup, we can easily create a split button. Split buttons feature a standard action on the left and a dropdown toggle on the right with contextual links.</p>
  <div class="dive-docs-example">
    <div class="btn-toolbar" style="margin: 0;">
      <div class="btn-group">
        <button class="btn">Primary</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-secondary">Secondary</button>
        <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-danger">Danger</button>
        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-warning">Warning</button>
        <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-success">Success</button>
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-info">Info</button>
        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn btn-inverse">Inverse</button>
        <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
    <div class="btn-group">
        <button class="btn btn-light">Light</button>
        <button class="btn btn-light dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->      
    </div><!-- /btn-toolbar -->
  </div>
{{#markdown}}
```markup
<div class="btn-group">
  <button class="btn">Action</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
  </ul>
</div>
```
{{/markdown}}
<h3>Split button "loading" dropdowns</h3>
<div class="dive-docs-example">
  <div class="btn-toolbar" >
    <div class="btn-group">
      <button class="btn"><i class='icon-spin icon-refresh'></i> loading ...</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!-- dropdown menu links -->
        <li><i class='icon-spin icon-refresh'></i> Loading...</li>
      </ul>
    </div>
  </div><!-- /btn-group -->
</div><!-- /btn-toolbar -->

{{#markdown}}
```markup
<div class="btn-group">
  <button class="btn"><i class='icon-spin icon-refresh'></i> loading ...</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><i class='icon-spin icon-refresh'></i> Loading...</li>
  </ul>
</div>
```
{{/markdown}}

  <h3>Sizes</h3>
  <p>Utilize the extra button classes <code>.btn-mini</code>, <code>.btn-small</code>, or <code>.btn-large</code> for sizing.</p>
  <div class="dive-docs-example">
    <div class="btn-toolbar">
      <div class="btn-group">
        <button class="btn btn-large">Large action</button>
        <button class="btn btn-large dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /btn-toolbar -->
    <div class="btn-toolbar">
      <div class="btn-group">
        <button class="btn btn-small">Small action</button>
        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /btn-toolbar -->
    <div class="btn-toolbar">
      <div class="btn-group">
        <button class="btn btn-mini">Mini action</button>
        <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /btn-toolbar -->
  </div>
{{#markdown}}
```markup
<div class="btn-group">
  <button class="btn btn-mini">Action</button>
  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
  </ul>
</div>
```
{{/markdown}}


  <h3>Striped Dropdowns</h3>
  <p>Style your dropdowns with striped-rows by adding a class of <code>.dropdown-striped</code> to your <code>dropdown-menu</code></p>
  <div class="dive-docs-example">
    <div class="btn-toolbar">
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">Striped Dropdown <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-striped">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">And look at this</a></li>
          <li><a href="#">This won't do anything</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /btn-toolbar -->
  </div>

{{#markdown}}
```markup
<div class="btn-group">
  <button class="btn dropdown-toggle" data-toggle="dropdown">Striped Dropdown <span class="caret"></span></button>
  <ul class="dropdown-menu dropdown-striped">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li><a href="#">And look at this</a></li>
    <li><a href="#">This won't do anything</a></li>
  </ul>
</div>
```
{{/markdown}}

  <h3>Dropup menus</h3>
  <p>Dropdown menus can also be toggled from the bottom up by adding a single class to the immediate parent of <code>.dropdown-menu</code>. It will flip the direction of the <code>.caret</code> and reposition the menu itself to move from the bottom up instead of top down.</p>
  <div class="dive-docs-example">
    <div class="btn-toolbar" style="margin: 0;">
      <div class="btn-group dropup">
        <button class="btn">Dropup</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group dropup">
        <button class="btn btn-secondary">Right dropup</button>
        <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div>
  </div>
{{#markdown}}
```markup
<div class="btn-group dropup">
  <button class="btn">Dropup</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
  </ul>
</div>
```
{{/markdown}}

</section>