<!-- Buttons BT_001, BI_001
================================================== -->
<section id="buttons">
  <div class="page-header">
    <h1>Buttons</h1>
  </div>

  <h2>Default buttons</h2>
  <p>Button styles can be applied to anything with the <code>.btn</code> class applied. However, typically you'll want to apply these to only <code>&lt;a&gt;</code> and <code>&lt;button&gt;</code> elements for the best rendering.</p>
   <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Button</th>
        <th>class=""</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><button type="button" class="btn btn-primary">Primary</button></td>
        <td><code>btn btn-primary</code></td>
        <td>Provides extra visual weight and identifies the primary action in a set of buttons</td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-secondary">Secondary</button></td>
        <td><code>btn btn-secondary</code></td>
        <td>Used as an alternative option to a primary action such as back or cancel.</td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-info">Info</button></td>
        <td><code>btn btn-info</code></td>
        <td>Used as an alternative to the default styles</td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-success">Success</button></td>
        <td><code>btn btn-success</code></td>
        <td>Indicates a successful or positive action</td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-warning">Warning</button></td>
        <td><code>btn btn-warning</code></td>
        <td>Indicates caution should be taken with this action</td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-danger">Danger</button></td>
        <td><code>btn btn-danger</code></td>
        <td>Indicates a dangerous or potentially negative action</td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-inverse">Inverse</button></td>
        <td><code>btn btn-inverse</code></td>
        <td>Alternate dark gray button, not tied to a semantic action or use</td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-link">Link</button></td>
        <td><code>btn btn-link</code></td>
        <td>Deemphasize a button by making it look like a link while maintaining button behavior</td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-light">Light</button></td>
        <td><code>btn btn-light</code></td>
        <td>Used as a way to have an interface less cluttered</td>
      </tr>
    </tbody>
  </table>



  <h2>Button sizes</h2>
  <p>Fancy larger or smaller buttons? Add <code>.btn-large</code>, <code>.btn-small</code>, or <code>.btn-mini</code> for additional sizes.</p>
  <div class="dive-docs-example">
    <p>
      <button type="button" class="btn btn-large btn-primary">Large button</button>
      <button type="button" class="btn btn-large btn-light">Large button</button>
    </p>
    <p>
      <button type="button" class="btn btn-primary">Default button</button>
      <button type="button" class="btn btn-light">Default button</button>
    </p>
    <p>
      <button type="button" class="btn btn-small btn-primary">Small button</button>
      <button type="button" class="btn btn-small btn-light">Small button</button>
    </p>
    <p>
      <button type="button" class="btn btn-mini btn-primary">Mini button</button>
      <button type="button" class="btn btn-mini btn-light">Mini button</button>
    </p>
  </div>
{{#markdown}}
```markup
<p>
  <button class="btn btn-large btn-primary" type="button">Large button</button>
  <button class="btn btn-large btn-light" type="button">Large button</button>
</p>
<p>
  <button class="btn btn-primary" type="button">Default button</button>
  <button class="btn btn-light" type="button">Default button</button>
</p>
<p>
  <button class="btn btn-small btn-primary" type="button">Small button</button>
  <button class="btn btn-small btn-light" type="button">Small button</button>
</p>
<p>
  <button class="btn btn-mini btn-primary" type="button">Mini button</button>
  <button class="btn btn-mini btn-light" type="button">Mini button</button>
</p>
```
{{/markdown}}





  <p>Create block level buttons&mdash;those that span the full width of a parent&mdash; by adding <code>.btn-block</code>.</p>
  <div class="dive-docs-example">
    <div class="well" style="max-width: 400px; margin: 0 auto 10px;">
      <button type="button" class="btn btn-large btn-block btn-primary">Block level button</button>
      <button type="button" class="btn btn-large btn-block btn-secondary">Block level button</button>
    </div>
  </div>
{{#markdown}}
```markup
<button class="btn btn-large btn-block btn-primary" type="button">Block level button</button>
<button class="btn btn-large btn-block btn-secondary" type="button">Block level button</button>
```
{{/markdown}}


  <h2>Disabled state</h2>
  <p>Make buttons look unclickable by fading them back 50%.</p>

  <h3>Anchor element</h3>
  <p>Add the <code>.disabled</code> class to <code>&lt;a&gt;</code> buttons.</p>
  <p class="dive-docs-example">
    <a href="../../index.html" class="btn btn-large btn-primary disabled">Primary link</a>
    <a href="../../index.html" class="btn btn-large btn-secondary disabled">Secondary link</a>
    <a href="../../index.html" class="btn btn-large btn-light disabled">Light link</a>
  </p>

{{#markdown}}
```markup
<a href="../../index.html" class="btn btn-large btn-primary disabled">Primary link</a>
<a href="#"  class="btn btn-large btn-secondary disabled">Secondary link</a>
<a href="#"   class="btn btn-large btn-light disabled">Light link</a>
```
{{/markdown}}

  <p>
    <span class="label label-info">Heads up!</span>
    We use <code>.disabled</code> as a utility class here, similar to the common <code>.active</code> class, so no prefix is required. Also, this class is only for aesthetic; you must use custom JavaScript to disable links here; as shown in the example below.
  </p>

    <p class="dive-docs-example">
<a href="../../index.html" id="link-id" class="btn btn-large btn-primary disabled">Primary link - go to homepage</a>
  <script>
  // first way to disable the link
    $('#link-id').click(function() { return false; });
  //another way to disable links
    $('#link-id').data("href", $(this).attr("href")).removeAttr("href");
  //third way to disable links
    $('#link-id').attr('href', 'javascript:');
  </script>
{{#markdown}}
```markup
<a href="../../index.html" id="link-id" class="btn btn-large btn-primary disabled">Primary link - go to homepage</a>
  
<script>
 // first way to disable the link
    $('#link-id').click(function() { return false; });
  //another way to disable links
    $('#link-id').data("href", $(this).attr("href")).removeAttr("href");
  //third way to disable links
    $('#link-id').attr('href', 'javascript:');
</script>
```
{{/markdown}}

  <h3>Button element</h3>
  <p>Add the <code>disabled</code> attribute to <code>&lt;button&gt;</code> buttons.</p>
  <p class="dive-docs-example">
    <button type="button" class="btn btn-large btn-primary disabled" disabled="disabled">Primary button</button>
    <button type="button" class="btn btn-large btn-secondary" disabled>Button</button>
  </p>
{{#markdown}}
```markup
<button type="button" class="btn btn-large btn-primary disabled" disabled="disabled">Primary button</button>
<button type="button" class="btn btn-large btn-secondary" disabled>Button</button>
```
{{/markdown}}

  <h2>One class, multiple tags</h2>
  <p>Use the <code>.btn</code> class on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>
  <form class="dive-docs-example">
    <a class="btn" href="">Link</a>
    <button class="btn" type="submit">Button</button>
    <input class="btn" type="button" value="Input">
    <input class="btn" type="submit" value="Submit">
  </form>

{{#markdown}}
```markup
<a class="btn" href="">Link</a>
<button class="btn" type="submit">Button</button>
<input class="btn" type="button" value="Input">
<input class="btn" type="submit" value="Submit">
```
{{/markdown}}

  <p>As a best practice, try to match the element for your context to ensure matching cross-browser rendering. If you have an <code>input</code>, use an <code>&lt;input type="submit"&gt;</code> for your button.</p>

  <h2>Buttons with Icons</h2>
  <div class="dive-docs-example">
<a class="btn btn-mini" href="#"><i class="icon-save"></i> Save</a>
<a class="btn btn-small" href="#"><i class="icon-save"></i> Save</a>
<a class="btn" href="#"><i class="icon-save"></i> Save</a> 
<a class="btn btn-large" href="#"><i class="icon-save"></i> Save</a>
<a class="btn" href="#"><i class="fa fa-save"></i> Save</a>
  </div>
{{#markdown}}
```markup
<a class="btn btn-mini" href="#"><i class="icon-save"></i> Save</a>
<a class="btn btn-small" href="#"><i class="icon-save"></i> Save</a>
<a class="btn" href="#"><i class="icon-save"></i> Save</a> 
<a class="btn btn-large" href="#"><i class="icon-save"></i> Save</a>
<a class="btn" href="#"><i class="fa fa-save"></i> Save</a> (with Font Awesome)
```
{{/markdown}}

</section>