<!-- What's Included
  ================================================== -->
  <section id="core-architecture">
    <hr class="soften">
    <div class="page-header">
      <h1>Core Architecture overview</h1>
    </div>

<!-- File structure
  ================================================== -->


  <div class="alert alert-block">
    <h4><i class="icon-info-sign"></i> Important information!</h4>
    <p>
      This section details advanced development topics. It is intended as an overview on the DiVE library core.
    </p>
  </div>

 

 

  <p class="lead">Here are some pieces of information that will help you understand what are the technologies employed to build the DiVE Library core.</p>
  <p>
    The "DiVE Library Boilerplate" and the "DiVE Library Source" files are based on un-compiled files that are generatarted by <a target="_blank" href="http://www.yeoman.io/"><strong>Yeoman</strong></a>. 
    
    <br><br>

 
If you want to know more about the environment set up, we recommend you to browse the Environment setup document: <a href="http://workpoint.pmiapps.biz/references/WIKI3/UXD/DiVE_Guidelines_PDF/PMI-UXD-DiVE-Library_Environment_setup.pdf">Environment setup</a>
  </p>

  <h2>Browser compatibility</h2>
 
  <p>DiVE Library has been build and tested against:<br>
   <ul><li> latest releases of desktop browsers:
    <ul>
    <li>Internet Explorer 9+, IE10+ </li> 
    <li>Chrome</li>
    <li>Safari.</li>
    </ul>  
  </li>
  <li> 
   latest releases of mobile browsers:
   <ul>
   <li>Chrome</li>
   <li>Safari.</li>
   </ul>  
 </li>
</ul>
   However, as it is based on Bootstrap framework, it should look and behave well enough in Chromium and Chrome for Linux, Firefox for Linux, and Internet Explorer 7, though they are not officially supported.
    <br><br>
    Please be aware that some CSS3 properties and HTML5 elements are not fully supported by these browsers. In addition, Internet Explorer 8 requires the use of <a href="https://github.com/scottjehl/Respond ">Respond.js</a> to enable media query support.
    <br><br>

 
If you are to use DiVE Library on these unsupported browsers, it is strongly suggested that you included also the htmlshiv <a href="https://github.com/aFarkas/html5shiv">html5shiv</a> plugin.

  
    <br><br>
    As it is based on Bootstrap framework, please refer to Bootstrap <a href="http://getbootstrap.com/getting-started/#support">"Browser and device support"</a> for more detailed information.
  </p>

</section>