<!-- Responsive design
================================================== -->
<section id="design-principles">
  <hr class="soften">
  <div class="page-header">
    <h1>Design principles</h1>
  </div>
  <h3>Responsive design</h3>
  <p>The library fully embraces the principles of "mobile first". Layouts built with DiVE Library are fully responsive. They provide a great user experience on any devices. The components - such as buttons and forms - are also optimized <strong>automatically for touch devices</strong> and the page layout adapts itself to any sizes of device's screen.</p>
  <p> Try and resize your browser window to experience responsiveness!</p>

  <h3>Visual optimization</h3>
  <p>Using modern technics, the library adresses the challenges of visual rendering for graphics.</p>
  <ul>
    <li><strong>Icon font</strong>: The DiVE Icons have been turned into a font. That means no more design work in Photoshop (to add colors, or change sizes) and a page display mecanism that speeds-up performances!</li>
    <li><strong>SVG images</strong>: Graphics can now benefit from the <a href="http://en.wikipedia.org/wiki/Scalable_Vector_Graphics" target="_blank">.SVG format</a>, allowing end-user computer based resizing (no more Photoshop) while maintaining high level of performances and quality independently from the device</li>
  </ul>

  <h3>Modularity</h3>
  <p>With its structure and the grid principles, the DiVE Library allows <strong>all sorts of combinations of elements</strong>. The supported user experience is therefore unique. Your design can address various level of complexity with the same flexibility.</p>

</section>