<!-- Download
================================================== -->
<section id="download">
  <hr class="soften">
  <div class="page-header">
    <h1>Download DiVE Library</h1>
  </div>

  <p class="lead">There are a few easy ways to quickly get started with the DiVE Library, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.</p>

  <h3>Download Boilerplate (DiVE-boilerplate.zip)</h3>
  <p>The fastest way to get started with the DiVE Library is to download the boilerplate - minified versions of our CSS and JavaScript and fonts - and an index.html file just to get you started. No documentation or original source files are included.</p>
  <p><a class="btn btn-large btn-primary" href="{{ page.base_url }}DiVE-boilerplate.zip">Download DiVE Boilerplate</a></p>

  <hr>

  <h3>Download offline version of the DiVE Library (DiVE-source.zip)</h3>
  <h4>
    <a href="{{ page.base_url }}DiVE-source.zip" class="btn btn-large btn-light">Download DiVE Library site (the offline  version)</a>
  </h4>
  <p>This link will download the entire DiVE Library site (this site) in a Zip file for you to use as a reference or when working offline.<br>
  This version is indicated for Advanced user and expecially Developers. Inside of it, you will find both the minifed and un-minifed version of all the css, js and html.</p>
  <hr>

  <h3>Requirements</h3>
  <ul>
    <li>A Code Editor (we recommend <a href="http://sublimetext.com/2">Sublime Text 2</a>).</li>
    <li>Working knowledge of HTML &amp; CSS.</li>
    <li>A Modern Browser (IE10, Chrome, Firefox or Safari)</li>
  </ul>
</section>