<!-- Icon - IC_001, IC_002, IC_003
================================================== -->
<section id="icons">
  <div class="page-header">
    <h1>Icons</h1>
  </div>

   <p class="lead">The DiVE Icons</p>
  <p>We have turned our collection of icons into a (web) font. It's super simple to change their sizes, colors, and to place them wherever is needed. It also greatly improving the loading performances of your webpages. Think about it!</p>
  <p>
	  <ul class="dive-docs-the-icons clearfix">

	    <li><i class="icon-alert-sign"></i>            icon-alert-sign          </li>
	    <li><i class="icon-back-to-top"></i>           icon-back-to-top         </li>
	    <li><i class="icon-book"></i>                  icon-book                </li>
	    <li><i class="icon-browse"></i>                icon-browse              </li>
	    <li><i class="icon-calendar"></i>              icon-calendar            </li>
	    <li><i class="icon-chevron-down"></i>          icon-chevron-down        </li>
	    <li><i class="icon-chevron-left"></i>          icon-chevron-left        </li>
	    <li><i class="icon-chevron-right"></i>         icon-chevron-right       </li>
	    <li><i class="icon-chevron-up"></i>            icon-chevron-up          </li>
	    <li><i class="icon-check"></i>                 icon-check               </li>
	    <li><i class="icon-check-circle"></i>          icon-check-circle        </li>
	    <li><i class="icon-clock"></i>                 icon-clock               </li>
	    <li><i class="icon-comments"></i>              icon-comments            </li>
	    <li><i class="icon-contact"></i>               icon-contact             </li>
	    <li><i class="icon-contacts"></i>              icon-contacts            </li>
	    <li><i class="icon-copy"></i>                  icon-copy                </li>
	    <li><i class="icon-document"></i>              icon-document            </li>
	    <li><i class="icon-download"></i>              icon-download            </li>
	    <li><i class="icon-email"></i>                 icon-email               </li>
	    <li><i class="icon-export"></i>                icon-export              </li>
	    <li><i class="icon-eye"></i>                   icon-eye                 </li>
	    <li><i class="icon-file-xls"></i>              icon-file-xls            </li>
	    <li><i class="icon-file-pdf"></i>              icon-file-pdf            </li>
	    <li><i class="icon-file-doc"></i>              icon-file-doc            </li>
	    <li><i class="icon-folder"></i>                icon-folder              </li>
	    <li><i class="icon-font-size-decrease"></i>    icon-font-size-decrease  </li>
	    <li><i class="icon-font-size-increase"></i>    icon-font-size-increase  </li>
	    <li><i class="icon-gears"></i>                 icon-gears               </li>
	    <li><i class="icon-globe"></i>                 icon-globe               </li>
	    <li><i class="icon-home"></i>                  icon-home                </li>
	    <li><i class="icon-image"></i>                 icon-image               </li>
	    <li><i class="icon-import"></i>                icon-import              </li>
	    <li><i class="icon-info-sign"></i>             icon-info-sign           </li>
	    <li><i class="icon-language"></i>              icon-language            </li>
	    <li><i class="icon-like"></i>                  icon-like                </li>
	    <li><i class="icon-list-bullet"></i>           icon-list-bullet         </li>
	    <li><i class="icon-list-check"></i>            icon-list-check          </li>
	    <li><i class="icon-locked"></i>                icon-locked              </li>
	    <li><i class="icon-minus-circle"></i>          icon-minus-circle        </li>
	    <li><i class="icon-minus-sign"></i>            icon-minus-sign          </li>
	    <li><i class="icon-new-sign"></i>              icon-new-sign            </li>
	    <li><i class="icon-open"></i>                  icon-open                </li>
	    <li><i class="icon-paperclip"></i>             icon-paperclip           </li>
	    <li><i class="icon-paste"></i>                 icon-paste               </li>
	    <li><i class="icon-pencil"></i>                icon-pencil              </li>
	    <li><i class="icon-plus"></i>                  icon-plus                </li>
	    <li><i class="icon-plus-sign"></i>             icon-plus-sign           </li>
	    <li><i class="icon-print"></i>                 icon-print               </li>
	    <li><i class="icon-question"></i>              icon-question            </li>
	    <li><i class="icon-refresh"></i>               icon-refresh             </li>
	    <li><i class="icon-remove-circle"></i>         icon-remove-circle       </li>
	    <li><i class="icon-remove-sign"></i>           icon-remove-sign         </li>
	    <li><i class="icon-remove-square"></i>         icon-remove-square       </li>
	    <li><i class="icon-save"></i>                  icon-save                </li>
	    <li><i class="icon-send"></i>                  icon-send                </li>
	    <li><i class="icon-send-to-mobile"></i>        icon-send-to-mobile      </li>
	    <li><i class="icon-share"></i>                 icon-share               </li>
	    <li><i class="icon-sound-high"></i>            icon-sound-high          </li>
	    <li><i class="icon-sound-mid"></i>             icon-sound-mid           </li>
	    <li><i class="icon-sound-low"></i>             icon-sound-low           </li>
	    <li><i class="icon-sound-off"></i>             icon-sound-off           </li>
	    <li><i class="icon-star"></i>                  icon-star                </li>
	    <li><i class="icon-tag"></i>                   icon-tag                 </li>
	    <li><i class="icon-trash"></i>                 icon-trash               </li>
	    <li><i class="icon-unlocked"></i>              icon-unlocked            </li>
	    <li><i class="icon-upload"></i>                icon-upload              </li>
	    <li><i class="icon-user"></i>                  icon-user                </li>
	    <li><i class="icon-video"></i>                 icon-video               </li>
	    <li><i class="icon-wand"></i>                  icon-wand                </li>
	    <li><i class="icon-zoom"></i>                  icon-zoom                </li>
	    <li><i class="icon-zoom-in"></i>               icon-zoom-in             </li>
	    <li><i class="icon-zoom-out"></i>              icon-zoom-out            </li>
	  </ul>
  </p>


  <hr class="dive-docs-separator">


  <h2>How to use the DiVE Icons font in your web project?</h2>
  <p>All icons require a <code>&lt;i&gt;</code> tag with a unique class, prefixed with <code>icon-</code>. To use, place the following code just about anywhere:</p>
{{#markdown}}
```markup
<i class="icon-search"></i>
```
{{/markdown}}
          <p>There are also styles available for inverted (white) icons, made ready with one extra class. We will specifically enforce this class on hover and active states for nav and dropdown links.</p>
{{#markdown}}
```markup
<i class="icon-search icon-white"></i>
```
{{/markdown}}
  <p>
    <span class="label label-info">Heads up!</span>
    When using beside strings of text, as in buttons or nav links, be sure to leave a space after the <code>&lt;i&gt;</code> tag for proper spacing.
  </p>


  <hr class="dive-docs-separator">


  <h2>Icon examples</h2>
  <p>Use them in buttons, button groups for a toolbar, navigation, or prepended form inputs.</p>

  <h4>Inline Icons</h4>

    <h5>Links with Icons</h5>
    <div class="dive-docs-example">
      <a href="#"><i class="icon-user"></i> Create a new user</a>
    </div>
{{#markdown}}
```markup
<a href="#"><i class="icon-user"></i> Create a new user</a>
```
{{/markdown}}

    <h5>Text with Icons</h5>
    <div class="dive-docs-example">
      <p>This is an icon <i class="icon-user"></i> in the middle of a sentence.</p>
    </div>
{{#markdown}}
```markup
<p>This is an icon <i class="icon-user"></i> in the middle of a sentence.</p>
```
{{/markdown}}

    <h5>Ratings Stars</h5>
    <div class="dive-docs-example">
      <p>Rating: <i class="icon-star icon-star--active"></i><i class="icon-star icon-star--active"></i><i class="icon-star icon-star--active"></i><i class="icon-star icon-star--inactive"></i><i class="icon-star icon-star--inactive"></i></p>
    </div>
{{#markdown}}
```markup
<p>
  Rating:
  <i class="icon-star icon-star--active"></i>
  <i class="icon-star icon-star--active"></i>
  <i class="icon-star icon-star--active"></i>
  <i class="icon-star icon-star--inactive"></i>
  <i class="icon-star icon-star--inactive"></i>
</p>
```
{{/markdown}}



  <h4>Buttons</h4>

  <h5>Button group in a button toolbar</h5>
  <div class="dive-docs-example">
    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn btn-secondary" href="#"><i class="icon-chevron-up"></i></a>
        <a class="btn btn-secondary" href="#"><i class="icon-chevron-down"></i></a>
        <a class="btn btn-secondary" href="#"><i class="icon-chevron-left"></i></a>
        <a class="btn btn-secondary" href="#"><i class="icon-chevron-right"></i></a>
      </div>
    </div>
  </div>
{{#markdown}}
```markup
<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn btn-secondary" href="#"><i class="icon-chevron-up"></i></a>
    <a class="btn btn-secondary" href="#"><i class="icon-chevron-down"></i></a>
    <a class="btn btn-secondary" href="#"><i class="icon-chevron-left"></i></a>
    <a class="btn btn-secondary" href="#"><i class="icon-chevron-right"></i></a>
  </div>
</div>
```
{{/markdown}}

  <h5>Dropdown in a button group</h5>
  <div class="dive-docs-example">
    <div class="btn-group">
      <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> User</a>
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
        <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
        <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="i"></i> Make admin</a></li>
      </ul>
    </div>
  </div>
{{#markdown}}
```markup
<div class="btn-group">
  <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> User</a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
    <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
    <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="i"></i> Make admin</a></li>
  </ul>
</div>
```
{{/markdown}}

  <h5>Button sizes</h5>
  <div class="dive-docs-example">
    <a class="btn btn-large btn-secondary" href="#"><i class="icon-save"></i> Save</a>
    <a class="btn btn-secondary" href="#"><i class="icon-save"></i> Save</a>
    <a class="btn btn-small btn-secondary" href="#"><i class="icon-save"></i> Save</a>
    <a class="btn btn-mini btn-secondary" href="#"><i class="icon-save"></i> Save</a>
  </div>
{{#markdown}}
```markup
<a class="btn btn-large btn-secondary" href="#"><i class="icon-save"></i> Save</a>
<a class="btn btn-secondary" href="#"><i class="icon-save"></i> Save</a>
<a class="btn btn-small btn-secondary" href="#"><i class="icon-save"></i> Save</a>
<a class="btn btn-mini btn-secondary" href="#"><i class="icon-save"></i> Save</a>
```
{{/markdown}}

  <h4>Navigation</h4>
  <div class="dive-docs-example">
    <div class="well" style="padding: 8px 0; margin-bottom: 0;">
      <ul class="nav nav-list">
        <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
        <li><a href="#"><i class="icon-book"></i> Library</a></li>
        <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
        <li><a href="#"><i class="i"></i> Misc</a></li>
      </ul>
    </div>
  </div>
{{#markdown}}
```markup
<ul class="nav nav-list">
  <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
  <li><a href="#"><i class="icon-book"></i> Library</a></li>
  <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
  <li><a href="#"><i class="i"></i> Misc</a></li>
</ul>
```
{{/markdown}}

  <h4>Form fields</h4>
  <form class="dive-docs-example form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputIcon">Email address</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-email"></i></span><input class="col-lg-2" id="inputIcon" type="text">
        </div>
      </div>
    </div>
  </form>
{{#markdown}}
```markup
<div class="control-group">
  <label class="control-label" for="inputIcon">Email address</label>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on"><i class="icon-email"></i></span>
      <input class="col-lg-2" id="inputIcon" type="text">
    </div>
  </div>
</div>
```
{{/markdown}}

</section>