<!-- Icon - IC_001, IC_002, IC_003
  ================================================== -->
  <section id="icons-fontawesome">
    <div class="page-header">
      <h1>Icons Font Awesome</h1>
    </div>

    <p class="lead">The Font Awesome Icons</p>
    <p>We implemented the <a href="http://fortawesome.github.io/Font-Awesome/"  target="_blank" >Font Awesome</a> icons and classes to enhance DiVE icons with more than 439 icons and powerful tools like:
</p>
    <h2>How to use the Font Awesome Icon font in your web project?</h2>
    <p>All icons require a <code>&lt;i&gt;</code> tag with a unique class, prefixed with <code>fa fa-</code>. To use, place the following code just about anywhere:</p>
    <div class="dive-docs-example">
      <i class="fa fa-camera-retro"></i> 
    </div>
{{#markdown}}
```markup
<i class="fa fa-camera-retro"></i>
```
{{/markdown}}

             <span class="label label-info">Heads up!</span> You can have a look on the full list of icons available on the <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">Font Awesome icon page</a> (current version implemented is Font Awesome 4.1)

<br><br>
        <p>All other DiVE styles can be applied to the icon, for example to pull the icon on the right or give them different colors.</p>
        <div class="dive-docs-example grey" >
          <i class="fa fa-camera-retro pull-right"></i>
          <i class="fa fa-camera-retro text-warning"></i>
          <i class="fa fa-camera-retro text-error"></i>
          <i class="fa fa-shopping-cart text-success"></i>
          <i class="fa fa-shopping-cart text-info"></i> 
          <i class="fa fa-shopping-cart text-primary "></i>
          <i class="fa fa-shopping-cart muted "></i>
          <i class="fa fa-shopping-cart fa-inverse  "></i>
        </div>
{{#markdown}}
```markup
<i class="fa fa-camera-retro pull-right"></i>
<i class="fa fa-camera-retro text-warning"></i>
<i class="fa fa-camera-retro text-error"></i>
<i class="fa fa-shopping-cart text-success"></i>
<i class="fa fa-shopping-cart text-info"></i> 
<i class="fa fa-shopping-cart text-primary"></i>
<i class="fa fa-shopping-cart muted"></i>
<i class="fa fa-shopping-cart fa-inverse"></i>
```
{{/markdown}}
        <p>
          <span class="label label-info">Heads up!</span> You can also mix icons font, between DiVE icons <code>icon-</code> and Font Awesome icons <code>fa fa-</code> in the same project or even same element.
        </p>
 
        <div class="dive-docs-example">
          <i class="fa fa-2x icon-document text-warning"></i>
          <i class="icon-save"></i> Save <i class="fa fa-save fa-flip-horizontal"></i> 
        </div>
{{#markdown}}
```markup
<i class="fa fa-2x icon-document text-warning"></i>
<i class="icon-save"></i> Save <i class="fa fa-save fa-flip-horizontal"></i>
```
{{/markdown}}
        
            <hr class="DiVE-docs-separator">
            <p>
              <h2>Font Awesome examples</h2>
               <p  >
 Here are a few example of what can be done with Font Awesome. If you want to explore more example, please visit the <a href="http://fortawesome.github.io/Font-Awesome/examples/" target="_blank">Font Awesome example page</a>. 
          <P>
              <h4>Icon sizes </h4>
              <div class="dive-docs-example">
                <p>  
                  <i class="fa fa-camera-retro"></i> 
                  <i class="fa fa-camera-retro fa-1x"></i> 
                  <i class="fa fa-camera-retro fa-lg"></i> 
                  <i class="fa fa-camera-retro fa-2x"></i> 
                  <i class="fa fa-camera-retro fa-3x"></i>  
                  <i class="fa fa-camera-retro fa-4x"></i>  
                  <i class="fa fa-camera-retro fa-5x"></i>
                </p> 
              </div>
{{#markdown}}
```markup
<i class="fa fa-camera-retro"></i> 
<i class="fa fa-camera-retro fa-1x"></i> 
<i class="fa fa-camera-retro fa-lg"></i> 
<i class="fa fa-camera-retro fa-2x"></i> 
<i class="fa fa-camera-retro fa-3x"></i>  
<i class="fa fa-camera-retro fa-4x"></i>  
<i class="fa fa-camera-retro fa-5x"></i>
```
{{/markdown}}

              <h4>Icon Spin </h4>
              <div class="dive-docs-example">
                <p>  
                  <i class="fa fa-spinner fa-spin"></i>
                  <i class="fa fa-refresh fa-spin"></i>
                  <i class="fa fa-cog fa-spin"></i>
                </p> 
              </div>
{{#markdown}}
```markup
<i class="fa fa-spinner fa-spin"></i>
<i class="fa fa-refresh fa-spin"></i>
<i class="fa fa-cog fa-spin"></i>
```
{{/markdown}}

              <h4>Icon rotate and flip </h4>
              <div class="dive-docs-example">
                <p>  
                  <i class="fa fa-shield"></i>&nbsp; normal<br>
                  <i class="fa fa-shield fa-rotate-90"></i>&nbsp; fa-rotate-90<br>
                  <i class="fa fa-shield fa-rotate-180"></i>&nbsp; fa-rotate-180<br>
                  <i class="fa fa-shield fa-rotate-270"></i>&nbsp; fa-rotate-270<br>
                  <i class="fa fa-shield fa-flip-horizontal"></i>&nbsp; fa-flip-horizontal<br>
                  <i class="fa fa-shield fa-flip-vertical"></i>&nbsp; icon-flip-vertical
                </p> 
              </div>
{{#markdown}}
```markup
<i class="fa fa-shield"></i>&nbsp; normal<br>
<i class="fa fa-shield fa-rotate-90"></i>&nbsp; fa-rotate-90<br>
<i class="fa fa-shield fa-rotate-180"></i>&nbsp; fa-rotate-180<br>
<i class="fa fa-shield fa-rotate-270"></i>&nbsp; fa-rotate-270<br>
<i class="fa fa-shield fa-flip-horizontal"></i>&nbsp; fa-flip-horizontal<br>
<i class="fa fa-shield fa-flip-vertical"></i>&nbsp; icon-flip-vertical
```
{{/markdown}}

              <h4>Icon "stack" </h4>
              <h3> Standard Font Awesome "stack"</h3>
              <div class="dive-docs-example">
                <p>  
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                  </span>

                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                  </span>

                  <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                  </span>

                  <span class="fa-stack fa-lg">
                    <i class="fa fa-camera fa-stack-1x"></i>
                    <i class="fa fa-ban fa-stack-2x text-error"></i>
                  </span>
                </p> 
              </div>
{{#markdown}}
```markup
<span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span>

<span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
</span>

<span class="fa-stack fa-lg">
  <i class="fa fa-square fa-stack-2x"></i>
  <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
</span>

<span class="fa-stack fa-lg">
  <i class="fa fa-camera fa-stack-1x"></i>
  <i class="fa fa-ban fa-stack-2x text-error"></i>
</span>
```
{{/markdown}}

              <h3>Font Awesome "stack" mixed with DiVE icons</h3>
              <p>Below an example of advanced use of the Font Awesome capability of staking icons combined with the custom DiVE icons.</p>
              <div class="dive-docs-example">
                <p>  

                  <span class="fa-stack fa-3x">
                    <i class="fa fa-camera fa-stack-1x text-primary "></i>
                    <i class="fa fa-ban fa-stack-2x   text-warning  " ></i>
                  </span>

                  <span class="fa-stack "> 
                    <strong><i class="  icon-zoom fa-stack-1x" style="right:-6px; bottom:0px" ></i></strong>
                    <i class="  icon-document fa-stack-2x text-primary "></i>
                  </span>

                  <span class="fa-stack fa-2x "> 
                    <i class=" fa fa-envelope  fa-stack-2x"></i>
                    <i class="fa  fa-arrow-up  fa-stack text-center muted " style="top:-18px;" ></i> 
                  </span>

                  <span class="fa-stack fa-2x "> 
                    <i class=" fa fa-envelope  fa-stack-2x"></i>
                    <i class="fa  fa-arrow-down  fa-stack text-right muted " style="bottom:-19px;" ></i> 
                  </span>
                </p>
              </div>
{{#markdown}}
```markup
<span class="fa-stack fa-3x">
  <i class="fa fa-camera fa-stack-1x text-primary "></i>
  <i class="fa fa-ban fa-stack-2x   text-warning  " ></i>
</span>

<span class="fa-stack "> 
  <strong><i class="  icon-zoom fa-stack-1x" style="right:-6px; bottom:0px" ></i></strong>
  <i class="  icon-document fa-stack-2x text-primary "></i>
</span>

<span class="fa-stack fa-2x "> 
  <i class=" fa fa-envelope  fa-stack-2x"></i>
  <i class="fa  fa-arrow-up  fa-stack text-center muted " style="top:-18px;" ></i> 
</span>

<span class="fa-stack fa-2x "> 
  <i class=" fa fa-envelope  fa-stack-2x"></i>
  <i class="fa  fa-arrow-down  fa-stack text-right muted " style="bottom:-19px;" ></i> 
</span>
```
{{/markdown}}

            </p>

          </section>