<!-- pictures
================================================== -->
<section id="pictures">
  <hr class="soften">
  <div class="page-header">
    <h1>DiVE Pictures</h1>
  </div>
    <p class="lead muted">Sorry, there is nothing there yet. But we are currently building a visual vocabulary to support some User eXperience Design activities.</p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>

<!-- illustrations
================================================== -->
<section id="illustrations">
  <hr class="soften">
  <div class="page-header">
    <h1>DiVE Illustrations</h1>
  </div>
    <p class="lead muted">Sorry! also nothing there. Be patient.</p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>
