<!-- What's Included
================================================== -->
<section id="included">
  <hr class="soften">
  <div class="page-header">
    <h1>Inside the library</h1>
  </div>

  <!-- File structure
  ================================================== -->

#TODO

{{#markdown}}
```bash
<!--[if lt IE 9]>
<script type="text/javascript"  src="/_bower_components/html5shiv/dist/html5shiv.js"></script>
<![endif]-->

 
<!--  
<script type="text/javascript"  src="/_bower_components/respond/respond.src.js"></script>
https://github.com/scottjehl/Respond 
-->

<!-- 
<script type="text/javascript"  src="/_bower_components/html5shiv/dist/html5shiv.js"></script>
https://github.com/aFarkas/html5shiv
-->
```
{{/markdown}}

  <p class="lead">Inside the DiVE Library package, you can find the directories and files displayed below,  grouping common assets and providing both compiled and minified variations.</p>

{{#markdown}}
```bash
DiVE/
├── index.html
├── favicon.ico
├── img/
│   ├── 404_image.jpg
│   ├── ajax-loader.gif
│   ├── pmi-logo.png
│   ├── slide-01.jpg
│   ├── slide-02.jpg
│   ├── slide-03.jpg
│   ├── sprite-skin-nice.png
├── css/
│   ├── dive.min.css
│   └── main.css
├── js/
│   ├── dive.min.js
│   ├── main.js
│   ├── plugins.js
│   └── vendor/
│      ├── jquery-1.10.2.min.js
│      └── modernizr-2.6.2.min.js
└── fonts/
    ├── DiVE-Icon-Font.eot
    ├── DiVE-Icon-Font.svg
    ├── DiVE-Icon-Font.ttf
    └── DiVE-Icon-Font.woff
```
{{/markdown}}

    <p>This is the most basic form of the DiVE Library: compiled files for quick drop-in usage in most of web project. We provide compiled CSS and JS (<code>dive.*</code>), as well as compiled and minified CSS and JS (<code>dive.min.*</code>). The DiVE Icon Fonts are also included.</p>
    <p><span class="label label-warning">Note</span>
      <strong>jQuery is required.</strong> Please note that <strong>all JavaScript plugins require jQuery</strong> which is included in the DiVE/js/vendor/ along with Modernizr.</p>


  </section>