<!-- What's Included
================================================== -->
<section id="included">
  <div class="page-header">
    <h1>What's Included</h1>
  </div>

  <!-- File structure
  ================================================== -->

  <p class="lead">Within the download you'll find the following directories and files, logically grouping common assets and providing both compiled and minified variations.</p>

  <p>Once downloaded, unzip the compressed folder to see the structure of (the compiled) DiVE Library. You'll see something like this:</p>

{% highlight bash %}
DiVE/
├── index.html
├── css/
│   ├── dive.css
│   ├── dive.min.css
│   └── main.css
├── js/
│   ├── dive.js
│   ├── dive.min.js
│   ├── main.js
│   ├── plugins.js
│   └── vendor/
│      ├── jquery-1.10.2.min.js
│      └── modernizr-2.6.2.min.js
└── fonts/
    ├── DiVE-Icon-Font.eot
    ├── DiVE-Icon-Font.svg
    ├── DiVE-Icon-Font.ttf
    └── DiVE-Icon-Font.woff
{% endhighlight %}

    <p>This is the most basic form of the DiVE Library: compiled files for quick drop-in usage in nearly any web project. We provide compiled CSS and JS (<code>dive.*</code>), as well as compiled and minified CSS and JS (<code>dive.min.*</code>). The DiVE Icon Fonts are also included.</p>
    <div class="dive-docs-callout dive-docs-callout-danger">
      <h4>jQuery required</h4>
      <p>Please note that <strong>all JavaScript plugins require jQuery</strong> which is included in the DiVE/js/vendor/ along with Modernizr.</p>
    </div>

  </section>