<!-- What's Included
================================================== -->
<section id="included">
  <hr class="soften">
  <div class="page-header">
    <h1>Inside the Start-Up Kit</h1>
  </div>



<p class="lead">What you will find inside the <a href="{{ page.base_url }}DiVE-boilerplate.zip">DiVE Boilerplate zip</a>.</p>


 <p>DiVE Boilerplate zip is the most standard way to use DiVE Library: compiled files for quick drop-in usage in most of web project. We provide compiled and minified CSS and JS.  The DiVE Icon Font and Font Awesome, are also included.</p>



  <p >Inside the DiVE Library package, you can find the directories and files displayed below, grouping common assets and providing only compiled and minified versions.</p>

{{#markdown}}
```bash
DiVE-boilerplate/
├── index.html
├── favicon.ico
├── robot.txt
├── .htaccess
├── img/
│   ├── 404_image.jpg
│   ├── ajax-loader.gif
│   ├── pmi-logo.png
│   ├── slide-01.jpg
│   ├── slide-02.jpg
│   ├── slide-03.jpg
│   ├── sprite-skin-nice.png
├── css/
│   ├── dive.css
├── js/
│   ├── dive.js
│   ├── jquery.js
│   └── plugins/
│      ├── datepicker.js
│      ├── ionRangeSlider.js
│      └── masonry.js
└── fonts/
    ├── DiVE-Icon-Font.eot
    ├── DiVE-Icon-Font.svg
    ├── DiVE-Icon-Font.ttf
    ├── DiVE-Icon-Font.woff
    ├── fontawesome-webfont.eot
    ├── fontawesome-webfont.svg
    ├── fontawesome-webfont.ttf
    └── fontawesome-webfont.woff
```
{{/markdown}}

   
    <p><span class="label label-warning">Note</span>
      <strong>jQuery is required.</strong> Please note that <strong>all JavaScript plugins require jQuery</strong> which is included in the DiVE/js/jquery.js (jQuery JavaScript Library v2.1.1).
      </p>
  </section>