<!-- What's Included
  ================================================== -->
  <section id="inside-source">
    <hr class="soften">
    <div class="page-header">
      <h1>Inside the source files</h1>
    </div>

    <p class="lead">What you will find inside the <a href="{{ page.base_url }}DiVE-source.zip">DiVE source zip</a>.</p>

    <p>
      DiVE source archive is a more advanced way of using DiVE Library. It provides CSS and JS in the minified version and development version (un-minified, not obfuscated and with all developers comments/documentation).

      <br>    <br>
      <span class="label label-warning">Note</span> By downloading this archive, you are downloading this current site.</p>

      <br>


      <p >Inside the DiVE source package, you can find the directories and files displayed below. The core folders for developers are <code>/js-dev</code> and <code>/css-dev</code> and <code>/css-dev</code> which contains the source file for images,css and javascript.
        <br>
      </p>

{{#markdown}}
```bash
DiVE-source/
├── css           (compiled css)
├── css-dev       (un-compiled css)
├── DiVE-doc      (DiVE doc pages)
├── DiVE-examples (DiVE examples pages)
├── documentation (developers documentation)
├── fonts
├── img
├── js            (compiled javascript)
├── js-dev        (un-compiled javascript)
├── 404.html
├── DiVE-boilerplate.zip
├── favicon.ico
├── index.html
├── LICENSE.txt
└── robots.txt
```
{{/markdown}}


      <p><span class="label label-warning">Note</span>
        The DiVE source can be consulted offline, on any device.</p>
      </section>