          <!-- Buttons
          ================================================== -->
          <section id="buttons">
            <div class="page-header">
              <h1>Buttons</h1>
            </div>

            <h2>Example uses</h2>
            <p>Do more with buttons. Control button states or create groups of buttons for more components like toolbars.</p>

            <h4>Stateful</h4>
            <p>Add <code>data-loading-text="Loading..."</code> to use a loading state on a button.</p>
            <div class="dive-docs-example"  >

                   <button type="button" id="fat-btn1" data-loading-text="Loading..." class="btn btn-primary">
               Loading state
              </button>



            </div>
{{#markdown}}
```markup
<button type="button" class="btn btn-primary" data-loading-text="Loading...">Loading state</button>
```
{{/markdown}}

      <h4>Stateful with icon</h4>
            <p>Add any icon you want inside the <code>data-loading-text="..."</code> to have an icon loading state on a button.</p>
            <div class="dive-docs-example"  >
                <button type="button" id="fat-btn" data-loading-text="<i class='icon-spin icon-refresh'></i>  Loading..." class="btn btn-primary">
              Loading with icon
              </button>

            </div>
{{#markdown}}
```markup
<button type="button" id="fat-btn" data-loading-text="<i class='icon-spin icon-refresh'></i>  Loading..." class="btn btn-primary"> Loading with icon</button>
```
{{/markdown}}




            <h4>Single toggle</h4>
            <p>Add <code>data-toggle="button"</code> to activate toggling on a single button.</p>
            <div class="dive-docs-example" style="padding-bottom: 24px;">
              <button type="button" class="btn btn-primary" data-toggle="button">Single Toggle</button>
            </div>

{{#markdown}}
```markup
<button type="button" class="btn btn-primary" data-toggle="button">Single Toggle</button>
```
{{/markdown}}

            <h4>Checkbox</h4>
            <p>Add <code>data-toggle="buttons-checkbox"</code> for checkbox style toggling on btn-group.</p>
            <div class="dive-docs-example" style="padding-bottom: 24px;">
              <div class="btn-group" data-toggle="buttons-checkbox">
                <button type="button" class="btn btn-primary">Left</button>
                <button type="button" class="btn btn-primary">Middle</button>
                <button type="button" class="btn btn-primary">Right</button>
              </div>
            </div>
{{#markdown}}
```markup
<div class="btn-group" data-toggle="buttons-checkbox">
  <button type="button" class="btn btn-primary">Left</button>
  <button type="button" class="btn btn-primary">Middle</button>
  <button type="button" class="btn btn-primary">Right</button>
</div>
```
{{/markdown}}

            <h4>Radio</h4>
            <p>Add <code>data-toggle="buttons-radio"</code> for radio style toggling on btn-group.</p>
            <div class="dive-docs-example" style="padding-bottom: 24px;">
              <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn btn-primary">Left</button>
                <button type="button" class="btn btn-primary">Middle</button>
                <button type="button" class="btn btn-primary">Right</button>
              </div>
            </div>
{{#markdown}}
```markup
<div class="btn-group" data-toggle="buttons-radio">
  <button type="button" class="btn btn-primary">Left</button>
  <button type="button" class="btn btn-primary">Middle</button>
  <button type="button" class="btn btn-primary">Right</button>
</div>
```
{{/markdown}}


            <hr class="dive-docs-separator">


            <h2>Usage</h2>
            <p>Enable buttons via JavaScript:</p>
{{#markdown}}
```javascript
$('.nav-tabs').button()
```
{{/markdown}}

            <h3>Markup</h3>
            <p>Data attributes are integral to the button plugin. Check out the example code below for the various markup types.</p>

            <h3>Options</h3>
            <p><em>None</em></p>

            <h3>Methods</h3>
            <h4>$().button('toggle')</h4>
            <p>Toggles push state. Gives the button the appearance that it has been activated.</p>
            <div class="alert alert-info">
              <strong>Heads up!</strong>
              You can enable auto toggling of a button by using the <code>data-toggle</code> attribute.
            </div>
{{#markdown}}
```markup
<button type="button" class="btn btn-secondary" data-toggle="button" >…</button>
```
{{/markdown}}
            <h4>$().button('loading')</h4>
            <p>Sets button state to loading - disables button and swaps text to loading text. Loading text should be defined on the button element using the data attribute <code>data-loading-text</code>.
            </p>
{{#markdown}}
```markup
<button type="button" class="btn btn-secondary" data-loading-text="loading stuff..." >...</button>
```
{{/markdown}}
            <div class="alert alert-info">
              <strong>Heads up!</strong>
              <a href="https://github.com/twitter/bootstrap/issues/793">Firefox persists the disabled state across page loads</a>. A workaround for this is to use <code>autocomplete="off"</code>.
            </div>
            <h4>$().button('reset')</h4>
            <p>Resets button state - swaps text to original text.</p>
            <h4>$().button(string)</h4>
            <p>Resets button state - swaps text to any data defined text state.</p>

{{#markdown}}
```markup
<button type="button" class="btn btn-secondary" data-complete-text="finished!" >...</button>
```
{{/markdown}}

{{#markdown}}
```javascript
<script>
  $('.btn').button('complete')
</script>
```
{{/markdown}}

          </section>