  
  <!-- Masonry
  ================================================== -->
  <section id="masonry">
    <div class="page-header">
      <h1 id="grid"> The Masonry Grid system</h1>
    </div>

    <p class="lead">Masonry is a JavaScript based grid layout that positions elements on your page based on <strong>available vertical space</strong> like a mason fitting stones in a wall.</p>
      <p>This type of layout is highly configurable but is also reliant on JS to structure the page which is extremely taxing on mobile devices computation power. As such, this layout is better for applications whose users will be <strong>primarly using desktop computers</strong>.</p>

    <p>If you want more information, please visit <a href="http://masonry.desandro.com/" target="_blank">the official Masonry website </a></p>
    <P><a href="../examples/masonry">Check this example</a> we set-up for you. </p>

  </section>

