  <!-- Masonry
  ================================================== -->
  <section id="masonry">
    <div class="page-header">
      <h1 id="grid">Masonry</h1>
    </div>

    <h3>What is Masonry?</h3>

    <p>Masonry is a JavaScript grid layout that positions elements on your page based on <strong>available vertical space</strong> like a mason fitting stones in a wall.  This type of layout is highly configurable but is also reliant on JS to structure the page which is extremely taxing on mobile devices.  As such, this sort of layout is better for applications whose users will be primarly using desktop computers.</p>

    <p>If you want more information, please visit <a href="http://masonry.desandro.com/">the official Masonry website </a></p>

  </section>
