
        <!-- Navbar
        ================================================== -->
        <section id="navbar">
          <div class="page-header">
            <h1>Navbar</h1>
          </div>


          <h2>Basic navbar</h2>
          <p>To start, navbars are static (not fixed to the top) and include support for a project name and basic navigation. Place one anywhere within a <code>.container</code>, which sets the width of your site and content.</p>
          <div class="dive-docs-example">
            <div class="navbar">
              <div class="navbar-inner">
                <a class="brand" href="#">Title</a>
                <ul class="nav">
                  <li class="active"><a href="#"><i class="icon-home"></i></a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                </ul>
              </div>
            </div>
          </div>
{{#markdown}}
```markup
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Title</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>
```
{{/markdown}}


          <hr class="dive-docs-separator">


          <h2>Navbar components</h2>

          <h3>Brand</h3>
          <p>A simple link to show your brand or project name only requires an anchor tag.</p>
          <div class="dive-docs-example">
            <div class="navbar">
              <div class="navbar-inner">
                <a class="brand" href="#">Title</a>
              </div>
            </div>
          </div>
{{#markdown}}
```markup
<a class="brand" href="#">Project name</a>
```
{{/markdown}}

          <h3>Nav links</h3>
          <p>Nav items are simple to add via unordered lists.</p>
          <div class="dive-docs-example">
            <div class="navbar">
              <div class="navbar-inner">
                <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                </ul>
              </div>
            </div>
          </div>
{{#markdown}}
```markup
<ul class="nav">
  <li class="active">
    <a href="#">Home</a>
  </li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Link</a></li>
</ul>
```
{{/markdown}}
          <p>You can easily add dividers to your nav links with an empty list item and a simple class. Just add this between links:</p>
          <div class="dive-docs-example">
            <div class="navbar">
              <div class="navbar-inner">
                <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="#">Link</a></li>
                  <li class="divider-vertical"></li>
                  <li><a href="#">Link</a></li>
                  <li class="divider-vertical"></li>
                </ul>
              </div>
            </div>
          </div>
{{#markdown}}
```markup
<ul class="nav">
  ...
  <li class="divider-vertical"></li>
  ...
</ul>
```
{{/markdown}}

          <h3>Forms</h3>
          <p>To properly style and position a form within the navbar, add the appropriate classes as shown below. For a default form, include <code>.navbar-form</code> and either <code>.pull-left</code> or <code>.pull-right</code> to properly align it.</p>
          <div class="dive-docs-example">
            <div class="navbar">
              <div class="navbar-inner">
                <form class="navbar-form pull-left">
                  <input type="text" class="col-lg-2">
                  <button type="submit" class="btn btn-secondary">Submit</button>
                </form>
              </div>
            </div>
          </div>
{{#markdown}}
```markup
<form class="navbar-form pull-left">
  <input type="text" class="col-lg-2">
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
```
{{/markdown}}

          <h3>Search form</h3>
          <p>For a more customized search form, add <code>.navbar-search</code> to the <code>form</code> and <code>.search-query</code> to the input for specialized styles in the navbar.</p>
          <div class="dive-docs-example">
            <div class="navbar">
              <div class="navbar-inner">
                <form class="navbar-search pull-left">
                  <input type="text" class="search-query" placeholder="Search">
                </form>
              </div>
            </div>
          </div>
{{#markdown}}
```markup
<form class="navbar-search pull-left">
  <input type="text" class="search-query" placeholder="Search">
</form>
```
{{/markdown}}

          <h3>Component alignment</h3>
          <p>Align nav links, search form, or text, use the <code>.pull-left</code> or <code>.pull-right</code> utility classes. Both classes will add a CSS float in the specified direction.</p>

          <h3>Using dropdowns</h3>

         <p>Add dropdowns and dropups to the nav with a bit of markup and JavaScript.</p>
{{#markdown}}
```markup
<ul class="nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Account
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      ...
    </ul>
  </li>
</ul>
```
{{/markdown}}
          <h3>Text</h3>
          <p>Wrap strings of text in an element with <code>.navbar-text</code>, usually on a <code>&lt;p&gt;</code> tag for proper leading and color.</p>


        </section>
