
        <!-- Nav, Tabs, & Pills CC_001, CC_002, HF_001, HF_002
        ================================================== -->
        <section id="navs">
          <div class="page-header">
            <h1>Navigations: tabs, pills, and lists</small></h1>
          </div>

          <h2>Navigation defaults <small>Same markup, different classes</small></h2>
          <p>All nav components here&mdash;tabs, pills, and lists&mdash;<strong>share the same base markup and styles</strong> through the <code>.nav</code> class.</p>

          <h3>Basic tabs</h3>
          <p>Take a regular <code>&lt;ul&gt;</code> of links and add <code>.nav-tabs</code>:</p>
          <div class="dive-docs-example">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Messages</a></li>
            </ul>
          </div>
{{#markdown}}
```markup
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Home</a>
  </li>
  <li><a href="#">...</a></li>
  <li><a href="#">...</a></li>
</ul>
```
{{/markdown}}

          <h3>Basic pills</h3>
          <p>Take that same HTML, but use <code>.nav-pills</code> instead:</p>
          <div class="dive-docs-example">
            <ul class="nav nav-pills">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Messages</a></li>
            </ul>
          </div>
{{#markdown}}
```markup
<ul class="nav nav-pills">
  <li class="active">
    <a href="#">Home</a>
  </li>
  <li><a href="#">...</a></li>
  <li><a href="#">...</a></li>
</ul>
```
{{/markdown}}

          <h3>Disabled state</h3>
          <p>For any nav component (tabs, pills, or list), add <code>.disabled</code> for <strong>gray links and no hover effects</strong>. Links will remain clickable, however, unless you remove the <code>href</code> attribute. Alternatively, you could implement custom JavaScript to prevent those clicks.</p>
          <div class="dive-docs-example">
            <ul class="nav nav-pills">
              <li><a href="#">Clickable link</a></li>
              <li><a href="#">Clickable link</a></li>
              <li class="disabled"><a href="#">Disabled link</a></li>
            </ul>
          </div>
{{#markdown}}
```markup
<ul class="nav nav-pills">
  ...
  <li class="disabled"><a href="#">Home</a></li>
  ...
</ul>
```
{{/markdown}}

          <h3>Component alignment</h3>
          <p>To align nav links, use the <code>.pull-left</code> or <code>.pull-right</code> utility classes. Both classes will add a CSS float in the specified direction.</p>


          <hr class="dive-docs-separator">


          <h2>Stackable</h2>
          <p>As tabs and pills are horizontal by default, just add a second class, <code>.nav-stacked</code>, to make them appear vertically stacked.</p>

          <h3>Stacked tabs</h3>
          <div class="dive-docs-example">
            <ul class="nav nav-tabs nav-stacked">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Messages</a></li>
            </ul>
          </div>
{{#markdown}}
```markup
<ul class="nav nav-tabs nav-stacked">
  ...
</ul>
```
{{/markdown}}

          <h3>Stacked pills</h3>
          <div class="dive-docs-example">
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Messages</a></li>
            </ul>
          </div>
{{#markdown}}
```markup
<ul class="nav nav-pills nav-stacked">
  ...
</ul>
```
{{/markdown}}


          <hr class="dive-docs-separator">


          <h2>Dropdowns</h2>
          <p>Add dropdown menus with a little extra HTML and JavaScript.</p>

          <h3>Tabs with dropdowns</h3>
          <div class="dive-docs-example">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Help</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
{{#markdown}}
```markup
<ul class="nav nav-tabs">
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Dropdown
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <!-- links -->
    </ul>
  </li>
</ul>
```
{{/markdown}}

          <h3>Pills with dropdowns</h3>
          <div class="dive-docs-example">
            <ul class="nav nav-pills">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Help</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
{{#markdown}}
```markup
<ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Dropdown
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <!-- links -->
    </ul>
  </li>
</ul>
```
{{/markdown}}


          <hr class="dive-docs-separator">


          <h2>Nav lists</h2>
          <p>A simple and easy way to build groups of nav links with optional headers. They're best used in sidebars like the Finder in OS X.</p>

          <h3>Example nav list</h3>
          <p>Take a list of links and add <code>class="nav nav-list"</code>:</p>
          <div class="dive-docs-example">
            <div class="well">
              <ul class="nav nav-list">
                <li class="nav-header">List header</li>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li><a href="#">Applications</a></li>
                <li class="nav-header">Another list header</li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li class="divider"></li>
                <li><a href="#">Help</a></li>
              </ul>
            </div> <!-- /well -->
          </div>
{{#markdown}}
```markup
<ul class="nav nav-list">
  <li class="nav-header">List header</li>
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  ...
</ul>
```
{{/markdown}}
          <p>
            <span class="label label-info">Note</span>
            For nesting within a nav list, include <code>class="nav nav-list"</code> on any nested <code>&lt;ul&gt;</code>.
          </p>

          <h3>Horizontal dividers</h3>
          <p>Add a horizontal divider by creating an empty list item with the class <code>.divider</code>, like so:</p>
{{#markdown}}
```markup
<ul class="nav nav-list">
  ...
  <li class="divider"></li>
  ...
</ul>
```
{{/markdown}}


          <hr class="dive-docs-separator">


          <h2>Tabbable nav</h2> <!-- CC_001 -->
          <p>Bring your tabs to life with a simple plugin to toggle between content via tabs. DiVE Library integrates tabbable tabs in four styles: top (default), right, bottom, and left.</p>

          <h3>Tabbable example</h3>
          <p>To make tabs tabbable, create a <code>.tab-pane</code> with unique ID for every tab and wrap them in <code>.tab-content</code>.</p>
          <div class="dive-docs-example">
            <div class="tabbable" style="margin-bottom: 18px;">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
                <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
                <li class="nav-tabs_draft"><a href="#tab3" data-toggle="tab"><i class="icon-alert-sign"></i> Section 3</a></li>
                 <li class="nav-tabs_edit"><a href="#tab3" data-toggle="tab"><i class="icon-pencil"></i> Section 4</a></li>
              </ul>
              <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
                <div class="tab-pane active" id="tab1">
                  <p>I'm in Section 1.</p>
                </div>
                <div class="tab-pane" id="tab2">
                  <p>Howdy, I'm in Section 2.</p>
                </div>
                <div class="tab-pane" id="tab3">
                  <p>What up girl, this is Section 3.</p>
                </div>
                 <div class="tab-pane" id="tab4">
                  <p>This is it, this is Section 4.</p>
                </div>
              </div>
            </div> <!-- /tabbable -->
          </div>
{{#markdown}}
```markup
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
    <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>I'm in Section 1.</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>
  </div>
</div>
```
{{/markdown}}

          <h4>Fade in tabs</h4>
          <p>To make tabs fade in, add <code>.fade</code> to each <code>.tab-pane</code>.</p>

          <h3>Tabbable in any direction</h3>

          <h4>Tabs on the bottom</h4>
          <p>Flip the order of the HTML and add a class to put tabs on the bottom.</p>
          <div class="dive-docs-example">
            <div class="tabbable tabs-below">
              <div class="tab-content">
                <div class="tab-pane active" id="A">
                  <p>I'm in Section A.</p>
                </div>
                <div class="tab-pane" id="B">
                  <p>Howdy, I'm in Section B.</p>
                </div>
                <div class="tab-pane" id="C">
                  <p>What up girl, this is Section C.</p>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="active"><a href="#A" data-toggle="tab">Section 1</a></li>
                <li><a href="#B" data-toggle="tab">Section 2</a></li>
                <li><a href="#C" data-toggle="tab">Section 3</a></li>
              </ul>
            </div> <!-- /tabbable -->
          </div>
{{#markdown}}
```markup
<div class="tabbable tabs-below">
  <div class="tab-content">
    ...
  </div>
  <ul class="nav nav-tabs">
    ...
  </ul>
</div>
```
{{/markdown}}

          <h4>Tabs on the left</h4> <!-- CC_002 -->
          <p>Swap the class to put tabs on the left.</p>
          <div class="dive-docs-example">
            <div class="tabbable tabs-left">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#lA" data-toggle="tab">Section 1</a></li>
                <li><a href="#lB" data-toggle="tab">Section 2</a></li>
                <li><a href="#lC" data-toggle="tab">Section 3</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="lA">
                  <p>I'm in Section A.</p>
                </div>
                <div class="tab-pane" id="lB">
                  <p>Howdy, I'm in Section B.</p>
                </div>
                <div class="tab-pane" id="lC">
                  <p>What up girl, this is Section C.</p>
                </div>
              </div>
            </div> <!-- /tabbable -->
          </div>
{{#markdown}}
```markup
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    ...
  </ul>
  <div class="tab-content">
    ...
  </div>
</div>
```
{{/markdown}}

          <h4>Tabs on the right</h4>
          <p>Swap the class to put tabs on the right.</p>
          <div class="dive-docs-example">
            <div class="tabbable tabs-right">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#rA" data-toggle="tab">Section 1</a></li>
                <li><a href="#rB" data-toggle="tab">Section 2</a></li>
                <li><a href="#rC" data-toggle="tab">Section 3</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="rA">
                  <p>I'm in Section A.</p>
                </div>
                <div class="tab-pane" id="rB">
                  <p>Howdy, I'm in Section B.</p>
                </div>
                <div class="tab-pane" id="rC">
                  <p>What up girl, this is Section C.</p>
                </div>
              </div>
            </div> <!-- /tabbable -->
          </div>
{{#markdown}}
```markup
<div class="tabbable tabs-right">
  <ul class="nav nav-tabs">
    ...
  </ul>
  <div class="tab-content">
    ...
  </div>
</div>
```
{{/markdown}}

        </section>