<!-- Pagination BI_0003
================================================== -->
<section id="pagination">
  <div class="page-header">
    <h1>Pagination <small>Two options for paging through content</small></h1>
  </div>

  <h2>Standard pagination</h2>
  <p>Simple pagination inspired by Rdio, great for apps and search results. The large block is hard to miss, easily scalable, and provides large click areas.</p>
  <div class="dive-docs-example">
    <div class="pagination">
      <ul>
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
{{#markdown}}
```markup
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
```
{{/markdown}}


  <hr class="dive-docs-separator">


  <h2>Options</h2>

  <h3>Disabled and active states</h3>
  <p>Links are customizable for different circumstances. Use <code>.disabled</code> for unclickable links and <code>.active</code> to indicate the current page.</p>
  <div class="dive-docs-example">
    <div class="pagination pagination-centered">
      <ul>
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
     </ul>
    </div>
  </div>
{{#markdown}}
```markup
<div class="pagination">
  <ul>
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    ...
  </ul>
</div>
```
{{/markdown}}
  <p>You can optionally swap out active or disabled anchors for spans to remove click functionality while retaining intended styles.</p>
{{#markdown}}
```markup
<div class="pagination">
  <ul>
    <li class="disabled"><span>&laquo;</span></li>
    <li class="active"><span>1</span></li>
    ...
  </ul>
</div>
```
{{/markdown}}


  <h3>Extended pagination</h3>
  <p>Use extended pagination when you have a large number of pages to limit the number of pages displayed to the user at once.</p>
  <div class="dive-docs-example">
    <div class="pagination">
      <ul>
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li class="disabled"><a href="#">...</a></li>
        <li><a href="#">11</a></li>
        <li><a href="#">12</a></li>
        <li class="active"><a href="#">13</a></li>
        <li><a href="#">14</a></li>
        <li class="disabled"><a href="#">...</a></li>
        <li><a href="#">25</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
{{#markdown}}
```markup
<div class="pagination">
  <ul>
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li class="disabled"><a href="#">...</a></li>
    <li><a href="#">11</a></li>
    <li><a href="#">12</a></li>
    <li class="active"><a href="#">13</a></li>
    <li><a href="#">14</a></li>
    <li class="disabled"><a href="#">...</a></li>
    <li><a href="#">25</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>
```
{{/markdown}}


  <hr class="dive-docs-separator">

  <h3>Sizes</h3>
  <p>Fancy larger or smaller pagination? Add <code>.pagination-large</code>, <code>.pagination-small</code>, or <code>.pagination-mini</code> for additional sizes.</p>
  <div class="dive-docs-example">
    <div class="pagination pagination-large">
      <ul>
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
    <div class="pagination">
      <ul>
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
     </ul>
    </div>
    <div class="pagination pagination-small">
      <ul>
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
    <div class="pagination pagination-mini">
      <ul>
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
{{#markdown}}
```markup
<div class="pagination pagination-large">
  <ul>
    ...
  </ul>
</div>
<div class="pagination">
  <ul>
    ...
  </ul>
</div>
<div class="pagination pagination-small">
  <ul>
    ...
  </ul>
</div>
<div class="pagination pagination-mini">
  <ul>
    ...
  </ul>
</div>
```
{{/markdown}}

  <h3>Alignment</h3>
  <p>Add one of two optional classes to change the alignment of pagination links: <code>.pagination-centered</code> and <code>.pagination-right</code>.</p>
  <div class="dive-docs-example">
    <div class="pagination pagination-centered">
      <ul>
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
     </ul>
    </div>
  </div>
{{#markdown}}
```markup
<div class="pagination pagination-centered">
  ...
</div>
```
{{/markdown}}
  <div class="dive-docs-example">
    <div class="pagination pagination-right">
      <ul>
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
{{#markdown}}
```markup
<div class="pagination pagination-right">
  ...
</div>
```
{{/markdown}}


  <hr class="dive-docs-separator">


  <h2>Pager</h2>
  <p>Quick previous and next links for simple pagination implementations with light markup and styles. It's great for simple sites like blogs or magazines.</p>

  <h3>Default example</h3>
  <p>By default, the pager centers links.</p>
  <div class="dive-docs-example">
    <ul class="pager">
      <li><a href="#">Previous</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </div>
{{#markdown}}
```markup
<ul class="pager">
  <li><a href="#">Previous</a></li>
  <li><a href="#">Next</a></li>
</ul>
```
{{/markdown}}

  <h3>Aligned links</h3>
  <p>Alternatively, you can align each link to the sides:</p>
  <div class="dive-docs-example">
    <ul class="pager">
      <li class="previous"><a href="#">&larr; Older</a></li>
      <li class="next"><a href="#">Newer &rarr;</a></li>
    </ul>
  </div>
{{#markdown}}
```markup
<ul class="pager">
  <li class="previous">
    <a href="#">&larr; Older</a>
  </li>
  <li class="next">
    <a href="#">Newer &rarr;</a>
  </li>
</ul>
```
{{/markdown}}

  <h3>Optional disabled state</h3>
  <p>Pager links also use the general <code>.disabled</code> utility class from the pagination.</p>
  <div class="dive-docs-example">
    <ul class="pager">
      <li class="previous disabled"><a href="#">&larr; Older</a></li>
      <li class="next"><a href="#">Newer &rarr;</a></li>
    </ul>
  </div>
{{#markdown}}
```markup
<ul class="pager">
  <li class="previous disabled">
    <a href="#">&larr; Older</a>
  </li>
  ...
</ul>
```
{{/markdown}}

</section>