<!-- Responsive Design
================================================== -->
<section id="responsive-design">
  <div class="page-header">
    <h1>Design principles</h1>
  </div>

  <h3>Responsive design</h3>
  <p>The DiVE Library is fully responsive so that your project will work great on any device. DiVE Library components - such as buttons and forms - are automatically optimized for touch devices and the page layout adapts to any device size.</p>

  <h3>Graphic optimization</h3>
  <p>Icon font: use the embedded DiVE icon font to create links or buttons. This will also speed up the loading process of your page.</p>
  <p>SVG images: allows you to resize visual content keeping high level of performances and quality.</p>

  <h3>Modularity</h3>
  <p>With its structure and grid principles, the DiVE Library components and page layouts allow you to combine elements interchangeably to build user interfaces to be as simple or complex as you need.</p>



</section>