<!-- Sliders FE_006
================================================== -->
<section id="sliders">

  <div class="page-header">
    <h1>Sliders</h1>
  </div>

  <h3>Slider</h3>
  <p>HTML5 introduced sliders for numeric values as a type of form element.  Unfortunately, they aren't fully integrated into all of the modern browsers quite yet and even in those in which they are implemented, they aren't stylable.</p>

  <p>The DiVE.js includes a plugin for easily creating sliders called <a href="http://ionden.com/a/plugins/ion.rangeSlider/en.html" target="_blank">Ion.RangeSlider</a>.  </p>

  <div class="dive-docs-example">

    <input type="text" id="range_1" value="0;100">

  </div>
<pre class="prettyprint linenums">
&lt;input type=&quot;text&quot; id=&quot;range_1&quot; value=&quot;0;100&quot;&gt;
</pre>

  <p>Creating a range</p>


  <div class="dive-docs-example">

    <input type="text" id="range_2" value="50;250"
      data-from="85"
      data-to="170"
      data-type="double"
      data-step="5"
      data-hasgrid="true"
      data-hidetext="false"
      data-prettify="true" >

  </div>
<pre class="prettyprint linenums">
&lt;input type=&quot;text&quot; id=&quot;range_2&quot; value=&quot;50;250&quot;
  data-from=&quot;85&quot;
  data-to=&quot;170&quot;
  data-type=&quot;double&quot;
  data-step=&quot;5&quot;
  data-hasgrid=&quot;true&quot;
  data-hidetext=&quot;false&quot;
  data-prettify=&quot;true&quot; &gt;
</pre>

</section>