<!-- Tables TL_001
================================================== -->
<section id="tables-advanced">
  <div class="page-header">
    <h1>Tables - Advanced</h1>
  </div>

  <h2>Responsive "Bootstrap" style</h2>
  <p>For basic styling&mdash;light padding and only horizontal dividers&mdash;add the base class <code>.table</code> to any <code>&lt;table&gt;</code>.</p>
  <div class="dive-docs-example">
 
     

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
  


    <div class="table-responsive">
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="2">1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@TwBootstrap</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
        </div><!-- /.table-responsive -->
  
   
  </div>
{{#markdown}}
```markup
code 
```
{{/markdown}}
 
<hr class="dive-docs-separator">
  <h2>Responsive DiVE style</h2>
  
  <p>Add borders and rounded corners to the table.</p>
  <div class="dive-docs-example">

    <div class="table-responsDive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Table heading 1</th>
            <th>Table heading 2</th>
            <th>Table heading 3</th>
            <th>Table heading 4</th>
            <th>Table heading 5</th>
            <th>Table heading 6</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="#" >1</td>
            <td data-title="Table heading 1">Table cell</td>
            <td data-title="Table heading 2">Table cell</td>
            <td data-title="Table heading 3">Table cell</td>
            <td data-title="Table heading 4">Table cell</td>
            <td data-title="Table heading 5">Table cell</td>
            <td data-title="Table heading 6">Table cell</td>
          </tr>
          <tr>
            <td data-title="#" >2</td>
            <td data-title="Table heading 1">Table cell</td>
            <td data-title="Table heading 2">Table cell</td>
            <td data-title="Table heading 3">Table cell</td>
            <td data-title="Table heading 4">Table cell</td>
            <td data-title="Table heading 5">Table cell</td>
            <td data-title="Table heading 6">Table cell</td>
          </tr>
          <tr>
           <td data-title="#" >3</td>
           <td data-title="Table heading 1">Table cell</td>
           <td data-title="Table heading 2">Table cell</td>
           <td data-title="Table heading 3">Table cell</td>
           <td data-title="Table heading 4">Table cell</td>
           <td data-title="Table heading 5">Table cell</td>
           <td data-title="Table heading 6">Table cell</td>
         </tr>
       </tbody>
     </table>
   </div><!-- /.table-responsive -->

   <div class="table-responsDive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Table heading 1</th>
          <th>Table heading 2</th>
          <th>Table heading 3</th>
          <th>Table heading 4</th>
          <th>Table heading 5</th>
          <th>Table heading 6</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="#" >1</td>
          <td data-title="Table heading 1">Table cell</td>
          <td data-title="Table heading 2">Table cell</td>
          <td data-title="Table heading 3">Table cell</td>
          <td data-title="Table heading 4">Table cell</td>
          <td data-title="Table heading 5">Table cell</td>
          <td data-title="Table heading 6">Table cell</td>
        </tr>
        <tr>
          <td data-title="#" >2</td>
          <td data-title="Table heading 1">Table cell</td>
          <td data-title="Table heading 2">Table cell</td>
          <td data-title="Table heading 3">Table cell</td>
          <td data-title="Table heading 4">Table cell</td>
          <td data-title="Table heading 5">Table cell</td>
          <td data-title="Table heading 6">Table cell</td>
        </tr>
        <tr>
         <td data-title="#" >3</td>
         <td data-title="Table heading 1">Table cell</td>
         <td data-title="Table heading 2">Table cell</td>
         <td data-title="Table heading 3">Table cell</td>
         <td data-title="Table heading 4">Table cell</td>
         <td data-title="Table heading 5">Table cell</td>
         <td data-title="Table heading 6">Table cell</td>
       </tr>
     </tbody>
   </table>
 </div><!-- /.table-responsive -->
 


 <div class="table-responsDive">
      <table class="table table-bordered ">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="#" rowspan="2">1</td>
          <td data-title="First Name">Mark</td>
          <td data-title="Last Name">Otto</td>
          <td data-title="Username">@mdo</td>
        </tr>
        <tr>
          <td data-title="First Name">Mark</td>
          <td data-title="Last Name">Otto</td>
          <td data-title="Username">@TwBootstrap</td>
        </tr>
        <tr>
          <td data-title="#">2</td>
          <td data-title="First Name">Jacob</td>
          <td data-title="Last Name">Thornton</td>
          <td data-title="Username">@fat</td>
        </tr>
        <tr>
          <td data-title="#">3</td>
          <td data-title="First Name - Last Name" colspan="2">Larry the Bird</td>
          <td data-title="Username">@twitter</td>
        </tr>
      </tbody>
    </table>


        </div><!-- /.table-responsive -->


<div class="table-responsDive">
      <table class="table table-bordered table-striped">
 
  <thead>
    <tr>
      <th>Code</th>
      <th>Company</th>
      <th  >Price</th>
      <th  >Change</th>
      <th >Change %</th>
      <th >Open</th>
      <th >High</th>
      <th >Low</th>
      <th >Volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-title="Code">AAC</td>
      <td data-title="Company">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
      <td data-title="Price" >$1.38</td>
      <td data-title="Change" >-0.01</td>
      <td data-title="Change %">-0.36%</td>
      <td data-title="Open" >$1.39</td>
      <td data-title="High" >$1.39</td>
      <td data-title="Low" >$1.38</td>
      <td data-title="Volume">9,395</td>
    </tr>
  </tbody>
</table>
</div>

  </div>
{{#markdown}}
```markup
 fff
```
{{/markdown}}

  
 
</section>