<!-- Typography - Styles ST_001, ST_002, ST_003, ST_004, ST_005
================================================== -->
<section id="typography">

  <div class="page-header">
    <h1>Typography</h1>
  </div>

  <!-- <p class="dive-docs-rationale">What is it? What problem does it solve? When should I use it? How should I use it?</p>-->

  <h2 id="headings">Headings</h2> <!-- ST_001 -->
  <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> are available.</p>
  <div class="dive-docs-example">
    <h1>h1. Heading 1</h1>
    <h2>h2. Heading 2</h2>
    <h3>h3. Heading 3</h3>
    <h4>h4. Heading 4</h4>
    <h5>h5. Heading 5</h5>
    <h6>h6. Heading 6</h6>
  </div>

  <h2 id="body-copy">Body copy</h2> <!-- ST_005 -->
  <p>DiVE Library's global default <code>font-size</code> is <strong>14px</strong>, with a <code>line-height</code> of <strong>20px</strong>. This is applied to the <code>&lt;body&gt;</code> and all paragraphs. In addition, <code>&lt;p&gt;</code> (paragraphs) receive a bottom margin of half their line-height (10px by default).</p>
  <div class="dive-docs-example">
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
  </div>
{{#markdown}}
```markup
<p>...</p>
```
{{/markdown}}

  <h3>Lead body copy</h3>
  <p>Make a paragraph stand out by adding <code>.lead</code>.</p>
  <div class="dive-docs-example">
    <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
  </div>
{{#markdown}}
```markup
<p class="lead">...</p>
```
{{/markdown}}



  <h3>Text Link</h3>
  <p>Turn any text into a link using an <code>&lt;a&gt;</code> tag.</p>
  <div class="dive-docs-example">
    This is text a <a href="#">this is a link</a>.
  </div>
{{#markdown}}
```markup
This is text a <a href="#">this is a link</a>.
```
{{/markdown}}






  <hr class="dive-docs-separator">


  <h2 id="emphasis">Emphasis</h2>
  <p>Make use of HTML's default emphasis tags with lightweight styles.</p>

  <h6><code>&lt;small&gt;</code></h6>
  <p>For de-emphasizing inline or blocks of text, <small>use the small tag.</small></p>
  <div class="dive-docs-example">
    <p><small>This line of text is meant to be treated as fine print.</small></p>
  </div>
{{#markdown}}
```markup
<p>
  <small>This line of text is meant to be treated as fine print.</small>
</p>
```
{{/markdown}}

  <h3>Bold</h3>
  <p>For emphasizing a snippet of text with a heavier font-weight.</p>
  <div class="dive-docs-example">
    <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
  </div>
{{#markdown}}
```markup
<strong>rendered as bold text</strong>
```
{{/markdown}}

  <h3>Italics</h3>
  <p>For emphasizing a snippet of text with italics.</p>
  <div class="dive-docs-example">
    <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
  </div>
{{#markdown}}
```markup
<em>rendered as italicized text</em>
```
{{/markdown}}

  <p><span class="label label-info">Heads up!</span> Feel free to use <code>&lt;b&gt;</code> and <code>&lt;i&gt;</code> in HTML5. <code>&lt;b&gt;</code> is meant to highlight words or phrases without conveying additional importance while <code>&lt;i&gt;</code> is mostly for voice, technical terms, etc.</p>

  <h3>Alignment classes</h3>
  <p>Easily realign text to components with text alignment classes.</p>
  <div class="dive-docs-example">
    <p class="text-left">Left aligned text.</p>
    <p class="text-center">Center aligned text.</p>
    <p class="text-right">Right aligned text.</p>
  </div>
{{#markdown}}
```markup
<p class="text-left">Left aligned text.</p>
<p class="text-center">Center aligned text.</p>
<p class="text-right">Right aligned text.</p>
```
{{/markdown}}

  <h3>Emphasis classes</h3>
  <p>Convey meaning through color with a handful of emphasis utility classes.</p>
  <div class="dive-docs-example">
    <p class="muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
    <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
    <p class="text-error">Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p class="text-info">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.</p>
    <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
  </div>
{{#markdown}}
```markup
<p class="muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
<p class="text-error">Donec ullamcorper nulla non metus auctor fringilla.</p>
<p class="text-info">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.</p>
<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
```
{{/markdown}}


  <hr class="dive-docs-separator">


  <h2 id="abbreviations">Abbreviations</h2>
  <p>Stylized implementation of HTML's <code>&lt;abbr&gt;</code> element for abbreviations and acronyms to show the expanded version on hover. Abbreviations with a <code>title</code> attribute have a light dotted bottom border and a help cursor on hover, providing additional context on hover.</p>

  <h6><code>&lt;abbr&gt;</code></h6>
  <p>For expanded text on long hover of an abbreviation, include the <code>title</code> attribute.</p>
  <div class="dive-docs-example">
    <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
  </div>
{{#markdown}}
```markup
<abbr title="attribute">attr</abbr>
```
{{/markdown}}

  <h6><code>&lt;abbr class=&quot;initialism&quot;&gt;</code></h6>
  <p>Add <code>.initialism</code> to an abbreviation for a slightly smaller font-size.</p>
  <div class="dive-docs-example">
    <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the best thing since sliced bread.</p>
  </div>
{{#markdown}}
```markup
<abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
```
{{/markdown}}


  <hr class="dive-docs-separator">




  <h2 id="blockquotes">Blockquotes</h2> <!-- ST_004 -->
  <p>For quoting blocks of content from another source within your document.</p>

  <h3>Default blockquote</h3>
  <p>Wrap <code>&lt;blockquote&gt;</code> around any <abbr title="HyperText Markup Language">HTML</abbr> as the quote. For straight quotes we recommend a <code>&lt;p&gt;</code>.</p>
  <div class="dive-docs-example">
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
  </div>
{{#markdown}}
```markup
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
```
{{/markdown}}

  <h3>Blockquote options</h3>
  <p>Style and content changes for simple variations on a standard blockquote.</p>

  <h4>Naming a source</h4>
  <p>Add <code>&lt;small&gt;</code> tag for identifying the source. Wrap the name of the source work in <code>&lt;cite&gt;</code>.</p>
  <div class="dive-docs-example">
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
    </blockquote>
  </div>
{{#markdown}}
```markup
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Someone famous <cite title="Source Title">Source Title</cite></small>
</blockquote>
```
{{/markdown}}

  <h4>Alternate displays</h4>
  <p>Use <code>.pull-right</code> for a floated, right-aligned blockquote.</p>
  <div class="dive-docs-example" style="overflow: hidden;">
    <blockquote class="pull-right">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
    </blockquote>
  </div>
  {{#markdown}}
```markup
  <blockquote class="pull-right">
    ...
  </blockquote>
  ```
{{/markdown}}


  <hr class="dive-docs-separator">


  <!-- Lists -->
  <h2 id="lists">Lists</h2>

  <h3>Unordered</h3> <!-- ST_003 -->
  <p>A list of items in which the order does <em>not</em> explicitly matter.</p>
  <div class="dive-docs-example">
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Consectetur adipiscing elit</li>
      <li>Integer molestie lorem at massa</li>
      <li>Facilisis in pretium nisl aliquet</li>
      <li>Nulla volutpat aliquam velit
        <ul>
          <li>Phasellus iaculis neque</li>
          <li>Purus sodales ultricies</li>
          <li>Vestibulum laoreet porttitor sem</li>
          <li>Ac tristique libero volutpat at</li>
        </ul>
      </li>
      <li>Faucibus porta lacus fringilla vel</li>
      <li>Aenean sit amet erat nunc</li>
      <li>Eget porttitor lorem</li>
    </ul>
  </div>
{{#markdown}}
```markup
<ul>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipiscing elit</li>
  <li>Integer molestie lorem at massa</li>
  <li>Facilisis in pretium nisl aliquet</li>
  <li>Nulla volutpat aliquam velit
    <ul>
      <li>Phasellus iaculis neque</li>
      <li>Purus sodales ultricies</li>
      <li>Vestibulum laoreet porttitor sem</li>
      <li>Ac tristique libero volutpat at</li>
    </ul>
  </li>
  <li>Faucibus porta lacus fringilla vel</li>
  <li>Aenean sit amet erat nunc</li>
  <li>Eget porttitor lorem</li>
</ul>
```
{{/markdown}}

  <h3>Ordered</h3> <!-- ST_002 -->
  <p>A list of items in which the order <em>does</em> explicitly matter.</p>
  <div class="dive-docs-example">
    <ol>
        <li><span>First item</span></li>
        <li><span>And here comes the second one</span></li>
        <li><span>Third element in the list</span>
            <ol>
                <li><span>List item level 2</span></li>
                <li><span>List item level 2</span></li>
                <li><span>List item level 2</span>
                    <ol>
                        <li><span>List item level 3</span></li>
                        <li><span>List item level 3</span></li>
                        <li><span>List item level 3</span></li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>
  </div>
{{#markdown}}
```markup
<ol>
    <li><span>First item</span></li>
    <li><span>And here comes the second one</span></li>
    <li><span>Third element in the list</span>
        <ol>
            <li><span>List item level 2</span></li>
            <li><span>List item level 2</span></li>
            <li><span>List item level 2</span>
                <ol>
                    <li><span>List item level 3</span></li>
                    <li><span>List item level 3</span></li>
                    <li><span>List item level 3</span></li>
                </ol>
            </li>
        </ol>
    </li>
</ol>
```
{{/markdown}}

  <h3>Unstyled</h3>
  <p>Remove the default <code>list-style</code> and left padding on list items (immediate children only).</p>
  <div class="dive-docs-example">
    <ul class="unstyled">
      <li>Lorem ipsum dolor sit amet</li>
      <li>Consectetur adipiscing elit</li>
      <li>Integer molestie lorem at massa</li>
      <li>Facilisis in pretium nisl aliquet</li>
      <li>Nulla volutpat aliquam velit
        <ul>
          <li>Phasellus iaculis neque</li>
          <li>Purus sodales ultricies</li>
          <li>Vestibulum laoreet porttitor sem</li>
          <li>Ac tristique libero volutpat at</li>
        </ul>
      </li>
      <li>Faucibus porta lacus fringilla vel</li>
      <li>Aenean sit amet erat nunc</li>
      <li>Eget porttitor lorem</li>
    </ul>
  </div>
{{#markdown}}
```markup
<ul class="unstyled">
  <li>...</li>
</ul>
```
{{/markdown}}

  <h3>Inline</h3>
  <p>Place all list items on a single line with <code>inline-block</code> and some light padding.</p>
  <div class="dive-docs-example">
    <ul class="inline">
      <li>Lorem ipsum</li>
      <li>Phasellus iaculis</li>
      <li>Nulla volutpat</li>
    </ul>
  </div>
{{#markdown}}
```markup
<ul class="inline">
  <li>Lorem ipsum</li>
  <li>Phasellus iaculis</li>
  <li>Nulla volutpat</li>
</ul>
</div>
```
{{/markdown}}

  <h3>Description</h3>
  <p>A list of terms with their associated descriptions.</p>
  <div class="dive-docs-example">
    <dl>
      <dt>Description lists</dt>
      <dd>A description list is perfect for defining terms.</dd>
      <dt>Euismod</dt>
      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
      <dt>Malesuada porta</dt>
      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
    </dl>
  </div>
{{#markdown}}
```markup
<dl>
  <dt>...</dt>
  <dd>...</dd>
</dl>
```
{{/markdown}}

  <h4>Horizontal description</h4>
  <p>Make terms and descriptions in <code>&lt;dl&gt;</code> line up side-by-side.</p>
  <div class="dive-docs-example">
    <dl class="dl-horizontal">
      <dt>Description lists</dt>
      <dd>A description list is perfect for defining terms.</dd>
      <dt>Euismod</dt>
      <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
      <dd>Donec id elit non mi porta gravida at eget metus.</dd>
      <dt>Malesuada porta</dt>
      <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
      <dt>Felis euismod semper eget lacinia</dt>
      <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
    </dl>
  </div>
{{#markdown}}
```markup
<dl class="dl-horizontal">
  <dt>...</dt>
  <dd>...</dd>
</dl>
```
{{/markdown}}
  <p>
    <span class="label label-info">Heads up!</span>
    Horizontal description lists will truncate terms that are too long to fit in the left column fix <code>text-overflow</code>. In narrower viewports, they will change to the default stacked layout.
  </p>

</section>