<!-- Using Dive Library
================================================== -->
<section id="using-dive">
  <div class="page-header">
    <h1>Using DiVE Library</h1>
  </div>

  <p class="lead">Who can use the DiVE Library?</p>



  <div class="row">


    <div class="col-md-6">
      <h4>Visual Designer</h4>
      <p>If you are designing a new app for PMI, use the DiVE Library as a visual guide for how the various elements of your application should look.</p>

      <h4>Front-end Developer</h4>

      <p>The DiVE Library is an excellent resource for anyone prototyping or developing a PMI web application.  Forked from the populary open-source front-end framework <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>, DiVE Library is easily accessible to any front-end developer.  Simply <a href="{{ page.base_url }}{{ site.dive-boilerplate }}">download the compiled DiVE Boilerplate Zip</a> and get started developing your application.</p>
    </div>

    <div class="col-md-6">
      <a class="thumbnail" href="{{ page.base_url }}everything/">
        <img src="{{ page.base_url }}img/examples/ex-everything.png" alt="">
      </a>
    </div>
  </div>





</section>