<!-- Using Dive Library
================================================== -->
<section id="using-dive">
  <div class="page-header">
    <h1>Using DiVE Library</h1>
  </div>
  <p class="lead">Who can use the DiVE Library?</p>
  <div class="row">
    <div class="col-md-12">
      <h4>Visual and Interaction Designers</h4>
      <p>If you are designing a new app for PMI, use the DiVE Library in order to make sure you respect the guidelines (about interaction principles and visual branding) and speed up the design process.</p>
      <h4>Front-end Developers</h4>
      <p>The DiVE Library is an essential resource for anyone prototyping or developing a PMI web application.  Forked from the populary open-source front-end framework <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>, the Library is easily accessible to any front-end developer.  Simply <a href="{{ page.base_url }}DiVE-boilerplate.zip">download the DiVE Start-Up Kit (.zip)</a> and get started developing your application.</p>
    </div>
  </div>
</section>