
<!-- Typeahead
================================================== -->
<section id="utilities">
  <div class="page-header">
    <h1>Utilities</h1>
  </div>



  <!-- Helpers
  ================================================== -->
  <div class="dive-docs-section">
    <div class="page-header">

      <h1 id="helper-classes">Helper classes</h1>

    </div>

    <h3>Close icon</h3>
    <p>Use the generic close icon for dismissing content like modals and alerts.</p>
    <div class="dive-docs-example">
      <p><button type="button" class="close" aria-hidden="true">&times;</button></p>
    </div>
{{#markdown}}
``` markup
<button type="button" class="close" aria-hidden="true">&times;</button>
```
{{/markdown}}

    <h3>.pull-left</h3>
    <p>Float an element left with a class. Can also be used as a mixin.</p>
{{#markdown}}
``` markup
<div class="pull-left">...</div>
```
{{/markdown}}
{{#markdown}}
``` css
.pull-left {
  float: left !important;
}
```
{{/markdown}}

    <h3>.pull-right</h3>
    <p>Float an element right with a class. Can also be used as a mixin.</p>
{{#markdown}}
``` markup
<div class="pull-right">...</div>
```
{{/markdown}}
{{#markdown}}
``` css
.pull-right {
  float: right !important;
}
```
{{/markdown}}

  <div class="dive-docs-example" style="overflow: hidden;">
    <blockquote>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  	</blockquote>
	
    <blockquote class="pull-right">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
    </blockquote>
  </div>
  {{#markdown}}
```markup
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	</blockquote>

<blockquote class="pull-right">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
</blockquote>
  ```
{{/markdown}}

    <h3>.clearfix</h3>
    <p>Clear the <code>float</code> on any element. Utilizes <a href="http://nicolasgallagher.com/micro-clearfix-hack/" target="_blank">the micro clearfix</a> as popularized by Nicolas Gallagher. Can also be used as a mixin.</p>
{{#markdown}}
``` markup
<div class="clearfix">...</div>
```
{{/markdown}}

{{#markdown}}
``` css
// Mixin
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Usage
.element {
  .clearfix();
}
```
{{/markdown}}

    <h3>.sr-only</h3>
    <p>Hide an element to all users <em>except</em> screen readers. This is use in accessibility optimization.</p>
{{#markdown}}
``` markup
<a class="sr-only" href="#content">Skip to content</a>
```
{{/markdown}}
  </div>



  <!-- Helpers
  ==================================================
  <div class="dive-docs-section">

     <div class="page-header">
      <h1>Special Dive classes</h1>
    </div>
    <p class="lead"> Lorem ipsum.</p>
    <p> Lorem ipsum </p>

    <h2 id="responsive-utilities-classes">Line classes</h2>


   </div> -->
</section>

